[2019-03-12 08:26] samburgers opened #420 "Add the space theme field to 4 position props?"
Would it be possible to include the `space` theme field to be available to the `top, left, right, bottom` props? The reason is to make it easy to hook into the breakpoint values for these. Thanks!

https://styled-system.com/table/#position

[2019-03-12 14:16] jxnblk commented on #420
You can add margin to elements with position or creat custom style props with the `style` function

[2019-03-12 15:37] namjul commented on #367
I had no time checking if this would solve my issue. But i found that by using emotion you would not have access to props since its only providing the theme and and not the props.
https://github.com/emotion-js/emotion/blob/master/packages/core/src/jsx.js#L20

So this would not work for emotion anymore.

[2019-03-12 15:43] namjul commented on #367
I had no time checking if this would solve my problem. I will come back to this later.

[2019-03-12 15:48] namjul opened #421 "Question about change in v4"
In version 4 the following was changes:

I would like to know why.
My situation is that i use fela and they don't support it. I likely have to move to emotion/styled-components.
I appreciated the atomic css style. I am not sure why it does not get any attention in these two big ones.
Any thoughts on this?

[2019-03-12 16:14] jxnblk commented on #421
The fact that Fela doesn't support this is news to me – not intentionally trying to exclude that library. To work around this, a combination of lodash flatten/merge *should* work, but YMMV

[2019-03-12 16:31] namjul commented on #421
Do you mind expanding on the reason. Just curious.

[2019-03-12 19:37] jxnblk commented on #421
In a nutshell, because the big two css-in-js libraries already handle this, so it offloads the amount of work/code required in this library – I'm certainly not opposed to ensuring support for fela works with a minor version bump

[2019-03-12 23:10] samburgers commented on #420
Thanks for the reply... my particular use case is for a `position:sticky` sidebar, which sits inside a container element that uses an array of paddings from `space` theme field... so the `top` value of the sidebar needs to match the padding array of the container at all breakpoints. adding margin to the top of the sidebar creates unwanted vertical space when the sidebar is un-stuck, ie browser scr

[2019-03-12 23:38] jxnblk commented on #420
Yeah, personally, for one-off styling like positioning a sidebar, I tend to lean towards using the `css` prop so that it's really clear what the element is doing – I don't tend to have many situations where having styling props dedicated to positioning are all that reusable. Hope that helps!

[2019-03-12 23:41] samburgers commented on #420
Cool thanks for the follow up, just for posterity this is what i was aiming for :)
[code]

[2019-03-13 04:50] kristojorg opened #424 "Export for use directly within styled component"
I would like to be able to do the following
[code]
which would then output the required media queries and margin. This is useful to me because in my current projects codebase we are using styled components heavily and it is awkward to define some styles as props and others within the styled component css. I want to be able to write these in the css while hooking in to the theme and writing easy me

[2019-03-13 08:45] namjul commented on #421
I see.
Another situation i came across was when trying to compose your own "buckets" and using already composes styles like space or borders.

So doing something like this:
[code]
i would get an array of arrays.
Just FYI.

[2019-03-13 16:34] jxnblk commented on #424
You can set `defaultProps` on the component (recommended) or do something like this:
[code]

[2019-03-13 16:35] jxnblk commented on #421
So far those libraries handle it like a champ – IIRC they have recursive/deep merging in there

[2019-03-13 21:37] kristojorg commented on #424
Ah yes I was thinking that. The problem with defaultProps is that styled-components doesn't fold default props (yet). Thanks for the suggestion, I'll do that.

[2019-03-13 21:37] #424 closed

[2019-03-14 16:49] mgallagher commented on #416
Seems like anything that uses [`mapProps`](https://github.com/styled-system/styled-system/blob/master/src/index.js#L125) (space and size currently) doesn't get their composed propTypes.

[2019-03-14 21:21] felipesere opened #425 "Using aliased names within styled-components themeselves"
👋
This might not be the right place (or inadequate use of styled-system) but I'd love
to be able to write something like

[code]

I was not able grok how I'd import/use the `space` function to make this possible.
Not all my components are reusable as such, but I do like the constraints imposed by using a theme object and styled-system.

[2019-03-14 23:17] jxnblk commented on #425
Maybe duplicate of #424

[2019-03-15 16:57] #416 closed

[2019-03-16 00:25] samburgers commented on #420
For anyone aiming to do something similar, this is about the cleanest solution I could muster:

`theme.js`
[code]

`SomeComponent.js`
[code]

[2019-03-16 02:38] jxnblk commented on #420
If you want to use theme from context (instead of a module import) you could do
[code]

[2019-03-16 03:34] samburgers commented on #420
Wow that is great to know!

Have put together an example using that solution, thanks again!

https://codesandbox.io/s/4x8k18v4x9

`theme.js`
[code]

`Page.js`

[code]

[2019-03-16 03:37] #420 closed

[2019-03-17 18:14] felipesere commented on #425
So this is what I have now added to my project as an experiment what it would look like:
[code]

And I can then use it like so:
[code]

The only reason I prefer this over props + defaults is that I don't really want to expose the props.
Its an outstanding experiment to see if it leads to a valuable separation.

[2019-03-19 01:41] johngrasty opened #428 "@styled-system/typography with styled-components"
Hey,

You have a great project here. The docs say that "Styled System Typography is intended for use with Emotion or Styled Components", and I am currently trying to get it running with `styled-components` but without any luck. Any advice. I've checked the docs, both yours and theirs, and I have not had any success with the `createGlobalStyle()`.

Any advice?

[2019-03-19 17:00] peduarte commented on #322
I'm on Spectrum too 👋

Would love to see the community grow in the coming months.

[2019-03-19 17:20] kristojorg commented on #424
For reference the defaultProps folding issue will be solved here: https://github.com/styled-components/styled-components/pull/2260

[2019-03-21 01:00] leantide opened #430 "Question re Responsive Styles and not rendering a component"
Great library. My only regret is that I found styled-system / rebass after I proliferated styled-components in my project in an inconsistent custom manner. Oh well. At least I can now use your library to get consistent.

Question: Is there a way using styled-system to render a component above a certain screen width breakpoint, and to not render it (or render as null) below that breakpoint?

I am a

[2019-03-21 02:14] leantide commented on #430
I now see that display = {['none', 'block']} or display = {['none', 'none', 'block']}, etc., meets the need. Thanks.

[2019-03-21 02:14] #430 closed

[2019-03-21 14:32] jxnblk commented on #430
If you want to control whether React renders the component at all, you'll need to use something like `react-responsive`, but if the CSS `display` property works for your use-case it sounds like you've figured it out

[2019-03-22 01:08] #391 closed

[2019-03-23 22:40] jxnblk commented on #307
Docs should be back on the new website in addition to GitHub

[2019-03-23 22:40] #307 closed

[2019-03-23 22:44] jxnblk commented on #372
This shouldn't be an issue with v4 but feel free to reopen if you still encounter this issue

[2019-03-23 22:44] #372 closed

[2019-03-23 22:46] damassi commented on #307
ty!

[2019-03-23 22:47] jxnblk commented on #406
I've moved all legacy packages to https://github.com/styled-system/extras – feel free to copypasta or fork as needed

[2019-03-23 22:47] #406 closed

[2019-03-23 22:48] jxnblk commented on #419
You can supply your own transform functions with custom style functions, or use a function like this to generate the theme object

[2019-03-23 22:48] #419 closed

[2019-03-23 22:49] #405 closed

[2019-03-23 22:53] jxnblk commented on #322
I've added a badge for spectrum.chat in the readme – feel free to continue the conversation over there!

[2019-03-23 22:53] #322 closed

[2019-03-23 22:55] #413 closed

[2019-03-25 13:22] gausie opened #437 ""Extending" a style"
I sometimes create something like

[code]

and then use it like

[code]

It would be nice to have an "extend" function that would allow me to do that as follows:

[code]

Maybe having a transformer function might be good too? Like

[code]

Thanks for all your great work!

[2019-03-25 16:08] gausie commented on #437
Just tried writing roughly how it would work and I realise that only the latter approach would work. But here is the rough idea (seems to work but haven't tested it extensively)

[code]

[2019-03-27 15:59] dkilic opened #441 "[Question]: Shorthand props being overridden by verbose props"
Currently verbose props (backgroundColor, margin, padding) always override shorthand props (bg, m, p) for the same property. Normally the prop with the largest component-distance to the html tag overrides the same prop that is closer (and direction-specific props override general props regardless of verbosity).

[code]

Is this intentional or might it be a bug?

Also thank you for a great library,

[2019-03-28 14:01] jxnblk commented on #441
This is currently how it works yes. I’d advise not mixing shorthand and verbose props together in the same project

[2019-03-31 08:39] neoziro opened #444 "Performances"
Hello, first I would like to thank you for this project. It was a source of inspiration for me, the goal of this issue is to improve this library and make it the default and best solution for styling components.

## Problem

I would like to use `styled-system` in [Smooth UI](https://smooth-ui.smooth-code.com/) instead of using my own system. One of the problem is performance, it was one of my conc

[2019-03-31 08:44] neoziro opened #445 "PropTypes are not enough generic"
## Problem

[PropTypes are exposed directly in styled-system](https://github.com/styled-system/styled-system/blob/master/src/index.js#L89), I think it is not a good thing. Styled-system is a generic tool and it could be used with another tool than React. In fact it is just a CSS with super power for me.

## Solution

I think we could expose a meta property on styles. This way we could access the n

[2019-03-31 15:10] jxnblk commented on #444
Thanks for putting this together! Performance is certainly something that *could* be improved in styled-system, and if that's one of the main deterrents for you and possibly others, I'd love some help in trying to make that better!

If you have time to start a PR (even if just a spike), I think that'd be a great way to see the difference.

Yeah, I *think* a very early prototype did loop over the p

[2019-03-31 15:14] jxnblk commented on #445
I love this idea, and it's something I've been pondering recently as well! It's currently the *only* dependency, so it'd be great to ditch it. With the latest version, all prop types are the same, so I think it's possibly a matter of exposing one prop type function with a reference for styled-system props, possibly in the `meta` object.

Somewhat related, I also recently published this package for

[2019-04-01 09:23] johngrasty commented on #428
I'm going to close this, as you have moved these packages to the extras repo, and it looks like from[ this commit](https://github.com/styled-system/extras/commit/f6e1d95248973c912985f35912e20fe49812b6db#diff-eeb153c5ef37539fb3a63460b6360074) you know have a `styled-components` example. Thanks! I've moved my project where I was testing this over to `emotion`, because I wanted to try mdx-blocks as w

[2019-04-01 09:23] #428 closed

[2019-04-03 06:57] neoziro commented on #444
Good to hear! I will try to work on a PR in this way! I don't have so much time but I will try.

[2019-04-03 11:28] StevenLangbroek commented on #388
@jxnblk any input on this perhaps?

[2019-04-04 08:32] joe-bell opened #447 "Setting Theme API Defaults"
First and foremost thanks for all the effort you've put into `styled-system` and `rebass`, over the last 2 weeks it's really helped change my thinking around Design System architecture.

With larger design systems (ones that incorporate multiple brands that have their own theming schemas for sub-brands) I've found it can be quite difficult to get a common default base. Sticking to a single schema

[2019-04-04 14:08] jxnblk commented on #447
Thanks! The idea with something like that would be to create two separate themes. How you create abstractions in places like the `colors` object is up to you, but all of the defaults can be overridden with custom themes/context. Somewhat related, there’s a separate project to create a standard for this sorta thing if you haven’t seen it yet: https://system-ui.com/theme

[2019-04-04 15:10] joe-bell commented on #447
I'm not sure I follow sorry! For context what we're doing is something like this:

[code]

Essentially we have a `base` set of components (which align to a default theme) and we'd like each organisation to be in charge of its own theming schema (aligning to system-ui of course!)

The problem stems down to the fact that these defaults create a schema that the organisations will need to follow, when

[2019-04-04 15:35] jxnblk commented on #388
As for the original issue, to achieve something like `<Button size={['md', 'md', 'xl']} stretch={[true, true, false]} />`, does the `variant` utility not fit the bill? If it does get more complex than what I'm imagining, I generally suggest wrapping a styled-system primitive with another React component to handle the logic in the props. There's a similar discussion here https://spectrum.chat/style

[2019-04-04 15:38] jxnblk commented on #447
Your `base` library can define a base `theme` object, which you'd pass to a `ThemeProvider` component. The organization-specific packages can have their own themes that extend or replace that base theme, allowing you to reuse the same styled components in all the packages. That's how this is designed to work, so I'm not sure I'm following either 🤔

[2019-04-04 17:53] joe-bell commented on #447
For sure! But let's say for example we have a button:
[code]

This would mean that each theme would _have_ to make sure they use their index of `1` or `2` for the button spacing, whereas one organisation may prefer a named approach or have a larger number of spacing variants which means they'd prefer to use `3` or `4` for their buttons. Does that sort of make sense? I know this a super specific ex

[2019-04-04 20:41] jxnblk commented on #447
For something like that, I'd wrap a base button up into another abstraction, if that makes sense. Maybe your theme includes `space.button.x` and `space.button.y` values that *could* be derived from the core scale, or could be completely one-off. There's a million different ways to do this sorta thing, so don't wanna make too many assumptions about your architecture

[2019-04-04 21:01] joe-bell commented on #447
That's not too far off what I was initially thinking! Which was more of some separate config object approach, but I think I prefer your idea of being more explicit and sticking to the system-ui theming schema. Thanks for your time on this Brent, I'll give this idea a go and keep you posted

[2019-04-05 10:22] joe-bell commented on #447
Tested this approach out this morning and works like a treat, so I'm happy to close this. Thanks again

[2019-04-05 10:22] #447 closed

[2019-04-08 18:05] peduarte commented on #444
This is awesome! Happy to help out 👋

I'm using Styled System a lot, and performance was also one of my concerns, so I'd love to help make it better/faster/stronger 💪

[2019-04-09 07:04] neoziro commented on #444
I will submit a PR, as soon as I have a moment!

[2019-04-09 08:51] peduarte opened #453 "Getting `fontSize` key from Theme in String Styles require unit"
Hey 👋

I came across this unexpected issue earlier, and wanted to verify if this is intended or not.

I'd like to set a default `font-size` to a Component. The value comes from `theme.fontSizes`.

With String Styles:
[code]

With Object Styles:
[code]

I've created a [CodeSandbox Demo](https://codesandbox.io/s/2zjjx2lxr0) 👀

Cheers
👊

[2019-04-09 16:27] jxnblk commented on #453
Yup, this is generally how the styled-components and emotion APIs work. Styled System isn't doing anything special here. It's similar to using number types in the React `style` prop

[2019-04-09 18:47] peduarte commented on #453
Ahhhh, yes, totally. Should’ve remembered this! Thanks!

[2019-04-09 18:47] #453 closed

[2019-04-12 17:09] Lehakos opened #454 "Typescript types from library conflict with types of HTML elements"
I have next code:
[code]
And I have received next error:

[code]

[2019-04-12 21:40] adamsoffer opened #455 "Does styled system support object notation?"
I noticed styled system uses template literals. For example:
[code]

What would be the object notation equivalent?

[2019-04-12 21:48] jxnblk commented on #455
Yes, you can mix and match object arguments with functions, e.g.

[code]

[2019-04-12 21:55] jxnblk commented on #454
This project does not contain any typescript types, could you please clarify the issue?

[2019-04-12 21:57] adamsoffer commented on #455
Sweet! Thanks.

[2019-04-12 21:57] #455 closed

[2019-04-13 13:17] kbondanza opened #456 "Links to reference table and responsive styles in the README 404"
Hi,

I noticed that the links to the reference table and responsive styles section in https://github.com/styled-system/styled-system/blob/master/docs/getting-started.md, 404.

I'm happy to make a pull request, if that's ok.

Thanks!

[2019-04-13 14:03] jxnblk commented on #456
Thanks! Currently those docs are used to generate the docs site where they *should* work (https://styled-system.com/getting-started). If you want to take a stab at this, I’m not sure if gatsby-plugin-catch-links automatically does anything like stripping the file extension, but the link component in the docs would probably be the place to convert the link href (https://github.com/styled-system/sty

[2019-04-16 11:57] andreoav commented on #454
Got the same error when working with typescript and the `@types/styled-system` package.

I don't have the error if I use `styled-components`, but after changing to `emotion` this error appeared.

[2019-04-16 19:18] leebenson commented on #454
Instead of `ColorProps`, import/use `ColorStyleProps`.

[2019-04-17 07:13] #454 closed

[2019-04-18 08:58] peduarte commented on #454
@leebenson @Lehakos Hi there 👋

I'm having the same issue, but on my component I also want to support the `bg` prop and `ColorStyleProps` seem to only solve the `color` prop issue.

Do you have any advice on how to type check this properly?

[2019-04-18 11:44] peduarte commented on #454
More info on here: https://spectrum.chat/styled-components/general/typescript-styled-system-styled-components~5593dbf2-7588-4c6d-9e76-b4eadd77ec90

[2019-04-19 20:37] bradley commented on #234
Did the API change since this comment? `mixed` doesnt seem to exist, and I cant really find any documentation of how to do this either.

My particular problem case is that I have a component on which Id like to have a border width that comes from my theme's `borders` object.

If borders look like this:
[code]

I can set the border on my styled component using:

[code]

But how would I do this if I

[2019-04-22 16:19] vipulrawat commented on #421
Is this related to `styles` object from older versions or `style` utility to create custom style?
As from previous version, I found `styles` object very useful in composing my styles easily, but it got removed in v4, I think.

[2019-04-22 16:52] jxnblk commented on #421
@vipulrawat this is unrelated to that change, but as an alternative to the previous `styles` object, there is an optional `props` module for listing out the props https://github.com/styled-system/styled-system/blob/master/props.js

[2019-04-22 17:11] vipulrawat commented on #421
@jxnblk Woah, that a quick awesome reply :+1: However, regarding props.js, it is just a static string array right, compared to the `styles` object where I don't have to import anything like `space`, `color` etc. I can directly map them. Am I missing something?

[2019-04-23 05:00] paulsherwinang opened #462 "Variant styles should be able to take in props for conditional styling"
Hi!

Great work, Im actively using this library in my current project now! I was just wondering if variant could check the theme object by key, and if that variant style is a function, that takes in props to return conditional styles based on it. Do you think that will be possible? I saw that the variant util function is only taking into consideration an object and just returns that directly

Than

[2019-04-23 09:45] peduarte opened #463 "Re-write in Typescript 📄"
Hi 👋

I'm building a Design System powered by Styled System and would like to have proper Typescript support.

I believe that Typescript will provide a better developer experience and better usage of the components.

Styled System is not currently written in Typescript, so I'm relying on [@types/styled-system](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/styled-system). Alt

[2019-04-23 11:04] peduarte opened #464 "Using Styled System with Typescript + Styled Components"
Hi 👋

I've spent a few days trying to get Styled System + Styled Components to play nicely with Typescript.

I've written about it [here](https://spectrum.chat/styled-components/general/typescript-styled-system-styled-components~5593dbf2-7588-4c6d-9e76-b4eadd77ec90) but didn't get much help.
I've [tweeted](https://twitter.com/peduarte/status/1118842116925526016) about it too, a few folks have trie

[2019-04-23 14:14] Lavoaster commented on #463
I will mention that the theme defined in styled system is one of a base theme, whilst the keys it define are useful, they should be addons to your own theme. I just updated the styled-system types to provide better support for v4 (though I haven't looked at the theme - so if there are changes I haven't updated it), but even if this was rewritten in typescript you would still have some typing issue

[2019-04-23 15:17] jamesmosier opened #465 "Incorrect sort in IE Edge for responsive objects"
When using the responsive object for a style property, the order is incorrect in IE Edge.

For example, this: `<Flex flexWrap={{ mobile: 'wrap', md: 'initial' }}>` would output the `md` media query first in the CSS and the `mobile` media query second, therefore making it so the `mobile` media query rule **always** applies.

I created a [jsbin](https://jsbin.com/cimavez/edit?js,console) to quickly

[2019-04-23 16:13] peduarte commented on #463
@Lavoaster thanks, I'll take a look at that so I can learn how to contribute to that project.

It's true that it's impossible to validate user's theme, since they can add *any* key, but in a way, that's what the Theme spec is trying to solve.

As it stands, it's still flexible enough that anyone can add "variant" keys to the Theme. Maybe this is something we need to think about then?

Should `vari

[2019-04-24 11:20] peduarte opened #466 "Space PropTypes missing a few props"
Hi 👋

I've noticed that the `space.proTypes` is missing:
- `my`
- `mx`
- `py`
- `px`

Is that on purpose?

Cheers!

[2019-04-24 18:39] matthova commented on #320
Would be great to figure out a way to combine key spacing with calc
For example:
[code]
I'm wondering if there's a clean way to pass in a spacing key/index to be parsed

[2019-04-25 15:25] jxnblk commented on #320
@matthova you might want to look into custom style functions. The `transformValue` function is passed the theme `scale` as the second argument

[2019-04-26 12:33] gretzky commented on #463
FWIW I just built a full design kit w/ styled-system and styled-components in TS and had little to no issue using the typings except for the theme- which I agree w/ @Lavoaster that you'll have issues with that regardless. @peduarte I don't know why you don't just contribute to @types/styled-system? That's what @jxnblk [has already suggested, and he doesn't use TS](https://github.com/styled-system/

[2019-04-26 14:53] peduarte commented on #463
@gretzky I want to contribute but I didn't feel confident enough since I'm quite new to TS. I left a bunch of comments on the PR @Lavoaster created and I'm trying to contribute by making the typings better. I also asked questions about how to contribute but didn't get much of an answer.

It's true that there will alway be _some_ issues with the Theme, but these should only happen for Theme Keys th

[2019-04-26 18:25] jxnblk commented on #463
I have more thoughts and can elaborate in detail later, but just chiming in to say that I *was* considering re-writing this in TS and attempted to do so before v4 was released. For a library like this and things like the theme spec, I think it *could* make sense to use TS. That said, it comes with a non-negligible learning curve, and I haven't had time to look into it recently. If this library wer

[2019-04-26 18:34] jxnblk commented on #421
@vipulrawat yes, `props` is just an array of prop names for reference. You *can* use `import * as system from 'styled-system'` (which will import everything and disable any treeshaking) for something similar to the old behavior, but it will also include the other exported utilities as well

[2019-04-26 19:06] wagerfield commented on #463
I'm in the same position as @peduarte. I absolutely love Styled System, but the TypeScript definitions are tripping me up—especially for the utility methods like `compose` and `style` that aren't compatible with one another.

I am in the process of putting together a PR with some of the type fixes that I've encountered so far.

Styled Components tackles the theming problem by documenting how to ex

[2019-04-26 19:21] vipulrawat commented on #421
Got it, Thanks.

[2019-04-26 19:28] cronin4392 opened #468 "Any way to achieve different scales for breakpoints?"
Hello,

I am using `styled-components` in a project and loving it. I am running into a use case and cannot figure out the best way to model it in the system.

The case I am trying to implement is I have different font size scales per breakpoint. For example:

| name | mobile size | desktop size |
|---|---|---|
| h1  | 32px  | 50px  |
| h2  | 26px | 34px  |
| p  | 14px | 14px  |

How I tried implem

[2019-04-26 19:42] flybayer commented on #468
Great question! I've wondered how to do this myself for some time now. Haven't tried to tackle it yet.

[2019-04-29 14:26] kof opened #471 "First class support of styled-system by JSS"
Hey, as discussed documenting issues I stumbled over while trying to integrate with JSS:

1. Styled-system functions return value data structure.

    Currently, v4 returns a nested array, which could be a flat object as it has been before in v3.  Seems like @jxnblk and I both want it flattened again 😂

2. Dependency on React prop-types isn't ideal, because it could be done in a universal way. Als

[2019-04-29 15:54] kevinSuttle opened #472 "defaultProps may be deprecated"
Just a heads up https://github.com/reactjs/rfcs/pull/107

[2019-04-30 01:06] jxnblk commented on #472
Thanks! I imagine this change will be a bigger, breaking change in React, and this library doesn't do anything with React directly, so I don't think anything will need to change here

[2019-04-30 01:06] #472 closed

[2019-04-30 01:14] jxnblk commented on #468
Although there are a ton of different ways to handle this sort of thing, the "Styled System approach" would take an idea like your table above:

| name | mobile size | desktop size |
|---|---|---|
| h1  | 32px  | 50px  |
| h2  | 26px | 34px  |
| p  | 14px | 14px  |

And create components that handle responsive styles (similar to what you have above), e.g. (assuming a low-level Text component):

[c

[2019-04-30 12:04] jordiviva opened #474 "some style props are passed as dom elements attributes"
Some props like margins or paddings are being passed, but others like width, font weight, color... are not being passed as dom attributes.

Example:

`const css = props => props.css;

const BoxStyled = styled.div`
  ${space}
  ${width}
  ${fontSize}
  ${color}
  ${position}
  ${borders}
  ${colorStyle}
  ${css}
`;

const Box = (props: IBox) => {
  return <BoxStyled {...props} />;
};`

`<Box width=

[2019-04-30 13:04] jxnblk commented on #474
Please see https://styled-system.com/guides/removing-props-from-html

[2019-04-30 15:38] jxnblk opened #475 "v5 Roadmap"
This is a WIP issue to track potential changes for the next major version.

- [x] Remove `propTypes` from core
- [x] Add optional package for React `propTypes`
- [x] Remove conversion of unitless numbers into pixels (most CSS-in-JS libraries support this by default now)
- [x] Setup monorepo with Yarn workspaces and Lerna
- [x] Split style functions into separate packages #281
- [x] Create separate

[2019-04-30 15:53] pete-redmond-cko commented on #475
@jxnblk what about writing it in TypeScript?

[2019-04-30 16:01] johno commented on #475
This all sounds great to me! Totally on board with splitting up different concerns and extra features into separate packages to keep the weight of core down.

Does this mean adding a `0` breakpoint for mobile-first architectures?

I'd be curious why it's under consideration? I'm assuming because it removes some complexity from the codebase? I make heavy use of the feature but am definitely not opp

[2019-04-30 16:07] jxnblk commented on #475
I think @neoziro can elaborate on the breakpoints some more, but I think it means that object values must use defined keys for breakpoints as opposed to using undefined keys for the non-scoped styles. I assume this isn't a change to how array values are parsed

The thinking with `width` is that it's one of the few odd-balls in here. I do like it, but it does behave quite differently from the rest

[2019-04-30 17:15] cronin4392 commented on #468
@jxnblk I think your nested example would be most appropriate however it's not so clear how to implement this in my components? My understanding is that I can create a scale using the plural version of the word(`fontSizes`). Then on my component I set a value on the singular version, `fontSize={1}` and that will pick that item from the scale.

Can you provide an example of how that works when my s

[2019-04-30 18:13] jxnblk commented on #468
I think the component-based approach from above is the most straightforward and flexible, letting you turn off default responsive changes where needed, but to use the nested values in a theme scale, use dot notation, e.g. `<Text fontSize={[ 'small.2', 'large.2' ]} />`

Using plain objects for values references the `theme.breakpoints` object and is used a bit differently than in your example. For e

[2019-05-01 19:36] zethussuen commented on #463
+1 for scales as unitless. It's a little verbose to type things like `${theme.space[2]}px`, but it gives you the flexibility to change units when needed. However, a large exception to this in my experience is `boxShadows[n]` is always string. That may be fine though?

[2019-05-02 14:22] russpitre opened #476 "Responsive - by key instead of Array"
I've been experimenting with **styled-system** for a couple days now and it's really slick. There are a couple of things I needed to do in order to make it work with the way I like to setup my theme object - one of which pertains to responsive values. Today we have a something like:

[code]

That's pretty slick. I do like it, but for some reason it doesn't sit 100% well with me. I've been thinking

[2019-05-02 14:41] jxnblk commented on #476
This is already part of the API, feel free to use whichever approach you prefer

[2019-05-02 14:41] #476 closed

[2019-05-02 14:46] russpitre commented on #476
Dang!  I'm not sure why I didn't that in the docs.

[2019-05-02 15:04] jxnblk commented on #476
The docs could probably use some clarity around that part of the API for sure

[2019-05-02 17:30] mosesoak opened #477 "Extend `css` functionality for multiple styles and pseudo classes"
Hi, I'm also writing to say thanks for `styled-system`, show one way it's being used, and ask how we could improve on it.

In our project we chose to leverage the `css` prop way of generating styles, but that led us to write an additional layer of code to support the functionality we need. I wanted to get your feedback on it.

## Themed Styles Support

We externalize our styles into function calls

[2019-05-02 18:17] jxnblk commented on #477
Hi, I can take a closer look at your examples later, but if you're using the `css` prop, you might be interested in the separate `@styled-system/css` package, which is its own implementation intended for the `css` prop. Looks like you might be doing a little more here, but figured I'd point that out FWIW https://styled-system.com/css/

[2019-05-04 17:16] cereallarceny commented on #475
@jxnblk One of my biggest frustrations in styled system currently is the lack of a width key.  It becomes super awkward when having to make something a perfect square (or circle with added border radius).  Perhaps I simply haven't seen how to do this correctly, but I end up having to use something like themeGet to set the width based on my `heights` key in my theme... ugly.

**Is there a better wa

[2019-05-04 17:30] cereallarceny commented on #477
@jxnblk I've been trying to figure out the right way to write components in styled-system.  It's not horribly clear to me from the website.

Should I use `themeGet` inside of `styled`?
Should I use props for everything?
Should I set properties in `styled` and then use `defaultProps` for everything else?
Should I use `css()` as a prop on the component?
Should I use `css()` as a HOC in `styled`?

Of

[2019-05-05 08:26] neoziro commented on #475
Actually, with my PR, if you define `widths: [0, 20]` in theme, `width={1}` will be `width: 20px;`. I think it is the expected behaviour. Also using array to describe properties is often not good. So prefer objects and all will be fine!

[2019-05-05 13:11] cereallarceny commented on #475
@neoziro I think that's actually the kind of problem @jxnblk was trying to avoid.  Perhaps I misunderstand...

Although I definitely agree that if there's going to be a `widths` key in the theme that it shouldn't be array based.

[2019-05-05 14:26] wcastand opened #480 "Typescript Typings and Custom Theme props"
Hey,
I'm not sure if I should post the issue here or on DefinitelyTyped, so I'm sorry if it's not the right place.

I'd like to know if you think it would be possible to add a custom generics to types like ColorProps? That way it would be easier to enforce the use of the keys defined in my theme.

For example, I defined my Box like this :

[code]

and this is my theme :

[code]

I would like types

[2019-05-05 15:21] Polypants opened #481 "Ability to use custom breakpoints in a property array"
Maybe you want an element to break at an odd point, one that's not already in your theme. But you don't want to add it to the theme because this property is the one and only property that will be using this breakpoint. Sure, you could have it break at the closest existing breakpoint, but hey maybe it just doesn't look quite right breaking there. What if you could describe a new breakpoint and a va

[2019-05-05 15:39] Polypants opened #482 "Breakpoints as a parameter as an alternative to theme providers"
Let's say you have this element that the breakpoints you have going everywhere else just aren't working for. You'd love to overhaul the breakpoints for just this one thing. But a nested `ThemeProvider` seems a bit too much for you. What if you could pass in some new breakpoints somehow, just for this element?

Maybe like this...

[code]

These breakpoints would override theme breakpoints, sort of

[2019-05-05 16:03] neoziro commented on #475
Yeah I know, but I think they can't be avoided, @jxnblk what do you think?

[2019-05-05 16:28] cereallarceny commented on #475
I put out a pseudo-proposal in my previous on how we might avoid this problem.  I'm happy to elaborate on it further if need me (or pick up a PR).  Either way, happy to help in whatever direction styled-system goes in!  😄

[2019-05-05 16:34] Polypants commented on #482
NVM, you can pass in a theme directly into the components. Cool.

[2019-05-05 16:34] #482 closed

[2019-05-05 17:51] chasemccoy commented on #475
Just wanted to pop in here and say that me and my team makes major use of fractional widths!

[2019-05-05 18:01] neoziro commented on #475
To be clear we are not talking about fractional width. Just about « 1 » that will not be 100% if you provide a key with another thing in theme.widths.

[2019-05-07 22:07] johnpolacek commented on #475
I use fractional widths. They are intuitive and expressive. Setting up a width key feels like over-configuration to me. Use whatever widths work for your design, let your build process do the rest.

[2019-05-08 14:31] jxnblk commented on #481
Interesting idea. I generally recommend using the `css` prop for one off styles – it helps avoid introducing a new syntax and should be easier to understand what's happening later when revisiting the code. That said, you could certainly build your own utility that does something like what you're describing above

[2019-05-09 10:09] DaanDD commented on #474
This is a very annoying issue with Styled Components. Luckily I found an easy solution. Change this:

[code]

To this:

[code]

This solution still passes all props to the styled component, but doesn't pass props like `fontSize` and `width` to the DOM.

[2019-05-09 10:19] jordiviva commented on #474
Yes, it works, but if I want to give like 30 props to the components, for basic things like margins, paddings, width, color, fontsize and borders.... the code seems not much clear at all.

Anyway, thanks for the answers, now I know how to solve this problem.

[2019-05-09 10:19] #474 closed

[2019-05-10 14:34] oliverjam opened #485 "Serializing arrays with aliases"
This is vaguely related to #305

[The docs](https://styled-system.com/guides/array-scales#aliases) appear to recommend adding named aliases to array scales to allow e.g. `mt="space.medium"` instead of `mt="space.2"`.

We've just hit an annoying-to-debug issue with server-rendering: JSON doesn't treat arrays as normal objects and strips out all the non-integer keys.

[code]

We have to serialize ou

[2019-05-11 14:13] jxnblk commented on #485
It sounds like you've mostly figured this out, but if you *do* need to serialize the theme object, then I think your suggestion at the end should work. I don't imagine many people would need to stick a server theme object on the window with modern setups, but this could be added as an alternative approach in the docs

[2019-05-11 14:55] oliverjam commented on #485
Yeah I guess our use-case is a bit unusual—supporting dynamic themes on the server. There's probably a solution that avoids serializing too; maybe just passing down a theme name and dynamically importing the right JS file in the client.

Is there any downside to using an object instead of an array, other than it looking kinda weird? It seems to work exactly the same from Styled System's perspectiv

[2019-05-11 16:00] jxnblk commented on #485
I can’t think of any downside off the top of my head and yeah feel free to open a docs PR if you have the time

[2019-05-11 23:12] lishine opened #487 "Styles export"
Before styles was removed, I used it to remove all styled-system props from elements (blacklist) with the help of clean-element.
Ho to do it now?  Only to list them one by one ...

[2019-05-12 00:08] sw-yx commented on #463
idk if this matters @jxnblk, but i would happily throw my hat in the ring to help if you are keen on a TS rewrite. no pressure tho/

[2019-05-12 11:50] lishine commented on #487
I understand that I can use the @styled-system/should-forward-prop package

[2019-05-12 20:57] #487 closed

[2019-05-13 16:25] aarondancer commented on #480
My team has a (private :cry: ) fork of styled-system that's been refactored for use in TS. Adding support for this is something we've been keen on adding, but I think it would require the addition of a `createStyledSystem` function or similar so that TS can provide typing via a generic. Usage would be something like:
[code]

While we don't have a solution for themes at the moment, we do have a sol

[2019-05-14 09:41] peduarte commented on #480
Yeah this is kinda tricky, because that not how Styled System is designed.

Styled System is designed to:
- Expose a prop to component
- Look for that value passed to the prop in the theme (via the corresponding key)
- If not found use that value anyway

So for example:
[code]

Same applies for the scales.

---

I 100% agree that what you're suggestion is a great feature, but I think this needs to

[2019-05-15 00:25] wcastand commented on #480
Yeah, a style system in my mind is restrictive to give people to follow the style system so even if I'm not a big fan of a lot of options, maybe having a restrictive mode could be a good thing for style system ?

[2019-05-15 06:20] juhov commented on #380
For anyone else getting here trough Google. This is one way to handle `textStyle` based on `breakpoints`. This is extending the Rebass `Text` component.

[code]

Used like this:
[code]

...or the same in array format:
[code]

Note: The array format create styles for each breakpoint. With objects you can set styles for certain breakpoints.

[2019-05-15 10:22] anshupitlia opened #492 "Invariant Violation: Invalid prop `fontSize` of type `string` supplied to `StyleSheet generated`, expected `number`."
Hi,

I'm getting the following error:

[code]

This is what I have at line 23:

[code]

is putting `em` not supported? But I see the README having description of it being available.

[2019-05-15 13:11] jxnblk commented on #492
Not sure what’s happening, but if you’re using React Native, I believe you have to use numbers without units

[2019-05-16 04:56] anshupitlia commented on #492
Yes I'm using React Native.

[2019-05-16 09:19] stinodes commented on #465
Hmm. changing the order of the responsive styles seems to break it on other browsers (at least it seems to in my case).
Have you figured anything else out to get this to work as expected somewhat painlessly?

[2019-05-16 13:49] jxnblk commented on #492
https://facebook.github.io/react-native/docs/height-and-width

[2019-05-16 13:51] jamesmosier commented on #465
Unfortunately not @stinodes ... I ended up just writing regular styled-components for anything responsive.

[2019-05-17 00:23] damassi opened #493 "Where is @styled-system/babel-plugin?"
We just ran into an issue where, in `styled-components@4` + React Native + Jest + react-test-renderer, invariant errors were thrown due to props referring to custom keys in our theme. For example:

[code]
Since `black10` isn't a real color, an error would throw. This seemed to be an insurmountable problem until I remembered the new experimental `@styled-system/babel-plugin` that I saw the other da

[2019-05-20 22:01] chrisbull opened #496 "lineHeight doesn't work as documented on React Native"
So lineHeight on react native  doesn't work the same as html. Using `em` styling isn't computed like it is with html. So using lineHeight: 1.25 literally makes the line height 1.25px instead of 1.25 times the fontSize.

The issue with this is that since fontSize is a dynamic and calculated responsive size, setting the lineHeight to an actual px wouldn't work.  Normally with styled-components you h

[2019-05-20 22:34] chrisbull commented on #496
A fix I've generated is to create a custom lineHeight styleFn. The problem though is is that lineHeights aren't responsive, or returning a responsive value back doesn't work. Here the styleFn for reference

[code]

[2019-05-20 22:50] chrisbull commented on #496
Also to note, responsive doesn't work on react-native at all.  A warning appears for `fontSize: [6,7]` stating that `atrule` is not allowed inline styles.

[2019-05-21 08:55] anshupitlia commented on #492
Thanks, this helps!

[2019-05-21 08:55] #492 closed

[2019-05-21 14:48] jxnblk commented on #496
Sorry, if I'm misunderstanding this issue, but if you're using RN, why wouldn't you use pixel values for line height?

[2019-05-21 19:28] lishine opened #497 "Put several Styled System props under media-query"
This is the case when I want to put several SS props under media-query, unlike doing px={[0,1]}.
I wrote something. It looks like css object with media queries but instead of css - SS props.

Did somebody do something like this ?
Is there some better idea or something more general ?

* The mediaDown and mediaUp is just media query, taking media values from the global theme object
* The mediaBoxCss

[2019-05-22 14:28] jxnblk commented on #497
The `css` package might be of interest for what you're trying to do: https://styled-system.com/css/

[2019-05-23 08:32] mortnod commented on #475
I support the move to remove fractional widths. While I love its simplicity, it feels inconsistent with how the rest of Styled System works.

More troubling than inconsistency is the fact that it kinda blocks the introduction of a width scale (since `1` can mean `100%` or `size[1]`). Coming from Tachyons, I was very surprised when I discovered this functionality was not built in and ended up havin

[2019-05-23 11:00] lishine commented on #497
Indeed, this is what I need !
VERY COOL!!!
I love what you are doing!!!

css can receive object or function(theme)
It just works!
Great!

What do you think, maybe better to pass whole props to the function:
css(props => ({ ...

[code]

[2019-05-23 12:40] r-inaldi opened #498 "Aliases for mx, my, px, py"
Could `paddingHorizontal` (`px`), `marginVertical` (`my`) be useful for someone? It seems to me that these aliases are missing.

[2019-05-23 12:59] moshemo opened #499 "Overriding Default Values in Styled-System Variants"
NOTE:  I am referencing the following functionality in styled-system:  [https://styled-system.com/api#variants](https://styled-system.com/api#variants)

I have the following buttons variant in my `theme.js` file:

[code]

This gives a nice, default styling for a flat button.  However, there will be times that I want to override the default color.  Say, something like this:

`<Button variant="flat"

[2019-05-23 16:09] jxnblk commented on #499
You can add an additional style function to support style props with a variant prop. e.g. `styled('div')(buttonStyle, color)` – that way the end component supports both the `variant` and `color` props

[2019-05-23 16:10] jxnblk commented on #498
If you're suggesting renaming the built-in props, you can create a custom style function to name them whatever you want

[2019-05-23 16:13] jxnblk commented on #497
Awesome! And, it *should* check for `props.theme` already, see https://github.com/styled-system/extras/blob/master/packages/css/index.js#L103 – but let me know if you're seeing any bugs

[2019-05-23 16:16] lishine commented on #497
Oh I see!

[2019-05-23 16:21] r-inaldi commented on #498
Not renaming, but aliasing similar to `m` -> `margin` or `mb` -> `marginBottom`.
Anyway, creating a custom style is a good alternative, thanks, feel free to close it :)

[2019-05-23 16:25] moshemo commented on #499
I think I'm doing that -- but it still doesn't work.

Here is the relevant sections of my `Button.js` file:

[code]

And here is the relevant sections of my `buttons.js` file:

[code]
Or, if you want, you can see the actual code here:
[https://codesandbox.io/s/learningstyledsystemandrebass-8j6im?fontsize=14](https://codesandbox.io/s/learningstyledsystemandrebass-8j6im?fontsize=14)

Either way, I c

[2019-05-23 17:10] jxnblk commented on #499
Source order matters in CSS, so you'll also need to make sure that the `color` function is passed *after* the `buttonStyle` function, if that might be the issue

[2019-05-23 18:57] moshemo commented on #499
If I pass the `color` function after the `buttonStyle` function, then `<Button variant='flat' color="primary'>Flat</Button>` then the `color` prop works, but the `variant` prop does not work.  I.e., I get the color I want for the text, but the rest of the button reverts to the default button.

[2019-05-23 20:44] moshemo opened #500 "Check if Prop Is Set"
The following code is not working for me:

`background-color: ${props => (props.bg? 'red' : 'blue')}`

Whether or not I have set the bg prop, the background-color is always red.

Any idea how I can conditionally check if a prop is set?

[2019-05-23 20:57] damassi commented on #493
Closing -- user error /shrug

[2019-05-23 20:57] #493 closed

[2019-05-24 13:31] chrisbull opened #501 "Size prop returning incorrect width value"
So there is an issue with the size and width props.

When using:

[code]

and then using
[code]

and then rendering using
[code]

is returning an incorrect style of:
[code]

I've narrowed it down, and it's due to the `getWidth` and `getPx` methods.

For width, using getWidth doesn't return the responsive array value, like height does in the getPx.

I've copied the code from version 4.2.2 and you c

[2019-05-24 14:19] lishine commented on #497
Here is a shortcoming of emotion/babel component css prop -
[code]
it does not pass props to an array
as oppose to props of
[code]

See what I mean:

Suppose I have  styles like this, it is even array in an array! :
[code]

This will work:
[code]

This will not work:
[code]

So that if I want to compose styles, I am forced to 'styled' notation.

Am I missing something?
Can something be done about

[2019-05-24 14:57] jxnblk commented on #497
IIRC you *can* pass an array of style objects to Emotion's `css` prop, so I'm not sure what's happening in your example

[2019-05-24 15:43] jxnblk commented on #501
This is how the API currently works (even if not the most obvious in this example), so while this is likely to change in the next major version, it *would* be a breaking change and can't be added in v4. I'll try to walk through what's happening as far as I can tell:

- `size={2}` is setting a non-responsive style for size of `2`
- the `width` function does not use values from the theme, so `2` is

[2019-05-25 08:28] lishine commented on #497
Yes, you can pass an array of style objects which do not depend on the props.
In example above styled system css function return a function, it needsto be given props. When it is inside array, it will not be provided props.
But with this form, it will be provided props: styled(component)(stylesArray)

[2019-05-25 13:00] lishine commented on #497
Back to the first question.
Using now styled-system/css
But it does not accept my custom properties, like:
[code]

I see that in order it to accepts them, the code should rewritten.

[2019-05-25 17:28] VladSez opened #510 "Is it possible to use styled-system with zero-runtime CSS in JS libraries?"
Hello everyone! I want to use styled-system with zero-runtime CSS in JS libraries like Linaria, Astroturf, Reshadow? So far, no luck. Is it possible?

https://github.com/callstack/linaria
https://github.com/lttb/reshadow
https://github.com/4Catalyzer/astroturf

[2019-05-25 17:30] chasemccoy commented on #133
@jxnblk This almost certainly deserves to be reopened. I can confirm that the Codesandbox that @VinceSJ posted above is the behavior I am seeing in our library/apps.

[2019-05-27 10:50] cereallarceny commented on #475
@jxnblk What would you think instead about offering a `width` key on the theme just like `height`, `maxWidth`, `maxHeight`, etc... allowing for people to set their width as a prop just like any other key in their theme.  You could also then have a `fWidth` and/or `fractionWidth` prop that doesn't correspond to any key on the theme, but offers the existing width functionality with fraction support.

[2019-05-27 15:07] jxnblk opened #512 "Add Vuejs example"

[2019-05-27 15:09] jxnblk commented on #475
@cereallarceny I think the plan is to use the `theme.sizes` scale for all dimensions, like outlined in the theme spec. If fractional widths are still supported in the next version, then maybe `0` and `1` would reference e.g. `theme.sizes[1]` and use that value if it exists

[2019-05-27 15:19] cereallarceny commented on #475
Perfect!  I hadn't seen the link posted in your first message (I suppose you added it after I first replied to this thread).  I like what you're proposing in there @jxnblk - is there some way to contribute to the v5 rewrite?  I'd love to work on some of the issues you outline above, including converting height, width, and max/min height/width over to a `spaces` key... how could I get started?

[2019-05-27 17:12] cereallarceny commented on #475
Either way @jxnblk, I don't think fractional widths have to be lost for good.  We could just add a `fractionalWidth` prop with an `fWidth` alias.  I can't imagine that adding much, if any, reasonable overhead to the library.  It would allow users to support both and would allow existing users who enjoy fractional width an easier path to upgrading.  At least, it would sure lessen the breaking chang

[2019-05-27 19:10] jxnblk commented on #475
@cereallarceny I'm refactoring the core code base with v5 – should have a PR up before long. As for something like a `fractionWidth` prop, it's an interesting approach, but *would* mean a breaking change for everyone currently using v4 (and potentially a lot of prop name changes), and I'd rather keep the upgrade path as simple as possible

[2019-05-28 01:45] cereallarceny commented on #475
Fair, but wouldn't it already be a breaking change if you're dropping
fractional width support on the width prop anyhow?

On Mon, May 27, 2019 at 8:10 PM Brent Jackson <notifications@github.com>
wrote:

[2019-05-30 04:38] woro83c opened #517 "shouldForwardProp forwards custom (aliased) props"
Heya,

Supplying the `shouldForwardProp` doesn't seem to prevent custom props from being displayed in the HTML when an alias is used, e.g.

[code]

Thanks!

[2019-05-30 13:31] jxnblk commented on #517
The `should-forward-prop` helper only filters out built-in prop names and anything props Emotion excluded by default. If you’re creating custom props, you might want to wrap this helper with your own that includes custom props like `d`, which is a valid attribute for SVG path elements

[2019-05-31 09:09] sebald opened #519 "Setting a default theme (without the need for a provider)"
Hey,

we are am using `emotion` and `styled-sytem/css` together and are wondering if there is proposed way to set a "custom default theme". Meaning, using a custom theme, without the need to use a `<ThemeProvider>`.

Currently we have two hooks to achieve this, but it doesn't feel right, because we're programmatically injecting the theme:

[code]

[code]

### [Full Codesandbox Example](https://cod

[2019-05-31 09:42] MarkosKon commented on #512
I can do that. What do you want inside? The same as the other examples?

[2019-05-31 13:02] jxnblk commented on #512
Feel free to do something similar or slightly different. I think it should:

1. Work as a codesandbox link (like the others)
2. Have a global theme (not sure what the context equivalent is for Vuejs, but can even be imported if needed)
3. Have a component that is using margin/padding/color from the theme

That said, anything is better than nothing and this would be super helpful IMO

[2019-05-31 13:06] jxnblk commented on #519
With the `styled` components approach, you can achieve this by setting `theme` as a default prop on the component. I’m not sure if there’s a standard way to do something like this with the `css` prop, but I also don’t think calling `css(styles)(theme)` is bad – if what you have works for your use-case it looks fine to me

[2019-05-31 13:08] jxnblk commented on #519
Oh, and an earlier version did have a `createCSS` method, which I’m not opposed to, but would require a little more thought before rolling out IMO because there are several things that could be configured

[2019-05-31 14:40] lishine commented on #510
I  am too interested

[2019-05-31 20:37] jxnblk commented on #510
I briefly looked into this, but I don't use any of the libraries mentioned above. If anyone wants to open a PR with an example added for one of these, that'd be great

[2019-05-31 22:06] MarkosKon commented on #512
This is [an attempt](https://codesandbox.io/s/vue-styledsystem-gl9z8) but kinda sucks.

You need a utility to map propTypes (for example, `space.propTypes`) to Vue props in order to be useful.

Also, I'm not experienced with Vue, today I checked it. It may not be a good solution.

[2019-06-01 01:13] woro83c commented on #517
Ah I see! Cheers 👍

[2019-06-02 11:47] VladSez commented on #510
I have found this:
https://codesandbox.io/s/styledsystemreshadowstyled-3yeho
https://github.com/lttb/reshadow/issues/20

[2019-06-02 14:26] #408 closed

[2019-06-02 14:28] jxnblk commented on #421
Closing this since all functions should now return merged object

[2019-06-02 14:28] #421 closed

[2019-06-02 14:29] #367 closed

[2019-06-02 14:30] jxnblk commented on #445
Closing in favor of #475

[2019-06-02 14:30] #445 closed

[2019-06-02 14:30] jxnblk commented on #281
Closing in favor of #475

[2019-06-02 14:30] #281 closed

[2019-06-02 14:38] jxnblk commented on #348
With the changes in #513 prop order should now take precedence, meaning whatever is defined last should override. If anyone has a chance to try out the prerelease, that’d be super helpful

[2019-06-02 14:41] #385 closed

[2019-06-02 14:43] jxnblk commented on #387
There’s a guide for this now. Feel free to PR any improvements to this doc that you might have https://styled-system.com/guides/removing-props-from-html

[2019-06-02 14:43] #387 closed

[2019-06-02 14:46] jxnblk commented on #390
I think for now the best option is to use the custom style function utilities to achieve this, even if they are replacements for the built-in ones, so I’m closing this out for now

[2019-06-02 14:46] #390 closed

[2019-06-02 14:47] #415 closed

[2019-06-02 14:48] jxnblk commented on #425
The `@styled-system/css` package sort of handles this use case now so closing this out - see https://styled-system.com/css

[2019-06-02 14:48] #425 closed

[2019-06-02 14:54] jxnblk commented on #437
The refactor in #513 should make this more easily possible. Leaving this comment as a reminder for myself to follow up here

[2019-06-02 14:55] jxnblk commented on #441
The changes in #513 will mean that prop order takes precedence in v5, so closing this out for now

[2019-06-02 14:55] #441 closed

[2019-06-02 15:27] jxnblk commented on #510
That looks like a good example. Feel free to open a PR adding something like this to the `examples/` directory

[2019-06-02 15:33] jxnblk commented on #462
Sorry for the delay on this. It sounds like what you're describing would be possible, but I'm not sure I entirely understand the use-case for this sort of thing. If you have an example (or example code) to demonstrate the intended API, that might be helpful. Generally I tend to think that the `theme` object should be mostly static/JSON-serializable and that any logic that deals with props should h

[2019-06-02 15:35] jxnblk commented on #464
If anyone has any suggestions here, this could make a great addition to the *guides* section in the docs, and I'd accept a PR.

WRT to this question:

I think if it is namespaced, it should be the `css` prop – a la [`@styled-system/css`](https://styled-system.com/css/)

[2019-06-02 15:36] jxnblk commented on #471
Just following up here, removal of the `prop-types` package from core is coming in #513

[2019-06-02 15:37] jxnblk commented on #465
I believe a fix for this has been published, and the changes in #513 should make this a non-issue. Feel free to reopen this or another issue if similar problems are still happening

[2019-06-02 15:37] #465 closed

[2019-06-02 15:39] jxnblk commented on #468
Closing this as I *think* the original question was answered, but feel free to open another issue if not

[2019-06-02 15:39] #468 closed

[2019-06-02 15:49] jxnblk commented on #477
@cereallarceny sorry for the delay! I probably don't have a definitive answer for you since this library is really intended to be somewhat low-level and be used in many different ways. It might be helpful to see how some other people are using the library, here are a few examples https://styled-system.com/showcase/

[2019-06-02 15:49] #498 closed

[2019-06-02 16:04] kof commented on #471
@jxnblk thanks for the follow up!

[2019-06-02 16:16] jxnblk commented on #481
I'm going to close this for now since there hasn't been much activity. Feel free to reopen if you'd like to discuss adding something like this as an optional package, or feel free to build out something of your own

[2019-06-02 16:16] #481 closed

[2019-06-02 16:18] jxnblk commented on #485
Going to close this for now, but feel free to open a PR for an update to the docs if you see fit

[2019-06-02 16:18] #485 closed

[2019-06-02 16:22] jxnblk commented on #497
I might be misunderstanding parts of this, but if you're looking to use `props` with the `css` prop, you can access that inside the component's scope where the `css` prop is applied in JSX

[code]

I.e. you might want to wrap some of the styled-system library (or roll your own utilities) to do exactly what you're trying to do

[2019-06-02 16:24] jxnblk commented on #499
Not sure how to proceed here. It might make sense to open a PR with a failing test to demonstrate? With that maybe someone can look into a solution

[2019-06-02 16:25] jxnblk commented on #500
Sorry, I can't really tell where this code is in context, and it doesn't look like you're using styled-system at all here. Is this an issue with either `styled-components` or `emotion`?

[2019-06-02 16:26] jxnblk commented on #501
Since the API is changing in v5 (see #513), the `size` prop will pick up values from `theme.sizes` in the next version. Going to close this out for now since this is how the v4 API currently works

[2019-06-02 16:26] #501 closed

[2019-06-02 16:29] jxnblk commented on #517
Heads up, in v5 the `@styled-system/should-forward-prop` utility will include a `createShouldForwardProp` function to make adding custom props easier. Closing this issue for now

[2019-06-02 16:29] #517 closed

[2019-06-02 16:44] jxnblk commented on #475
Closing this and tracking in #513

[2019-06-02 16:44] #475 closed

[2019-06-02 19:35] cereallarceny commented on #477
No worries!  I quite like what you're doing in the HOC variation of the CSS
package.  I was hoping for a little dogmatism here, but I'll wait until v5
to decide on my preferred syntax.  Let me know if there's any remaining
tickets I could take.  Been watching your progress, looks like you're
handling it.

[2019-06-02 22:08] #444 closed

[2019-06-03 06:23] sebald commented on #519
That's interesting that there already was a `createCSS`. Do you mind sharing why it was removed?

Regarding the configuration of `styled-system`. True, there might be other things that are worth configuring. But I for example, like that `styled-system` is opinionated about the core design tokens (spaces, fonts, etc).

What do you have also make configurable?

[2019-06-03 10:43] lishine commented on #497
Yes, you are right, I thought css={props=> provide props of the component it is placed on, but no, this props is =theme

[2019-06-03 10:45] lishine commented on #497
BTW about the last thing that I wrote - support for my custom SS properties in SS/css. I wrote function that wraps SS/css, it traverses the object before passing it to SS/css. It transforms each custom property that it finds

[2019-06-03 12:41] neoziro opened #524 "Transitions in theme specification"
I added transitions to xstyled, I think it would be nice to have it in theme specifications.

https://system-ui.com/theme/

[code]

What do you think?

[2019-06-03 13:43] jxnblk commented on #519
There’s aliases, theme keys, transforms, could be other things as well, see https://github.com/styled-system/styled-system/blob/master/packages/css/src/index.js

[2019-06-03 14:49] sebald commented on #519
Yes, but I think it is a good thing that this is NOT customizable 🙂 Otherwise you can just could just create your own spec with `system` from '@styled-system/core'.

---

This is a little off topic, but what are the reasons for not using any other `@styled-system` packages in the `@styled-system/css` package?

[2019-06-03 15:11] jxnblk commented on #519
I tend to agree with you, but flexibility in an API like this can be good IMO

The implementation is a bit different and the `css` package doesn't need to filter out properties that aren't styles, so this was an opportunity to start with a fresh code based and work on optimizing the performance without the baggage of the rest of the API

[2019-06-03 16:25] ebello opened #529 "First option in sizes array not returning properly"
After upgrading to v5 and converting the `maxWidths` array in my theme.js to `sizes`, I have:

`sizes: ['80em', '52em', '40em', '30em']`

The expected result from `<Box maxWidth={0}>` would be `max-width: 80em`, however `max-width: 0` is returned.

Conversely, `<Box maxWidth={1}>` returns `max-width: 52em` as expected.

[2019-06-03 17:21] cereallarceny opened #531 "Most performant way to write styled-system components"
**Just a heads up** - Asking existential questions, no bug report following

With v5 comes a few interesting changes to the styled-system API.  As I make my way through the source code, I still can't quite figure out the best way to write a component using styled-system.  I had the same issue with styled-system 4 when [writing my most recent UI library based on styled-system](https://github.com/ce

[2019-06-03 17:56] leantide opened #532 "v5 backwards compatibility: boxShadow"
v5 backwards compatibility issue with v4.

`import { boxShadow } from 'styled-system';`

Under v4, this worked. Now under v5, this results in:
Attempted import error: 'boxShadow' is not exported from 'styled-system'.

[2019-06-03 18:01] mfix22 commented on #532
You can use `import { shadow } from 'styled-system'` or `import shadow from '@styled-system/shadow'` now 👍

[2019-06-03 18:02] leantide commented on #532
Thanks.

[2019-06-03 18:02] #532 closed

[2019-06-03 18:59] jxnblk commented on #532
The new API is `shadow`, but I think I missed aliasing the v4 `boxShadow` export, if anyone wants to PR that

[2019-06-03 19:23] leantide opened #533 "Opacity"
From Rebass v3: `import { opacity } from 'styled-system';`

 Maybe I'm just missing it, but I don't see opacity in any @styled-system package.

[2019-06-03 19:40] kevinSuttle commented on #529
I'm seeing the same thing other properties. I think this is a bug in core.

<img width="600" alt="Image 2019-06-03 at 3 40 37 PM" src="https://user-images.githubusercontent.com/95672/58829492-f25b0f80-8615-11e9-88a7-79278ac831f3.png">

[2019-06-03 21:19] kevinSuttle commented on #517
Could this be why I'm _not_ seeing certain custom props make it to the output CSS? e.g. `whiteSpace`, `cursor`?

[2019-06-03 21:26] jxnblk commented on #517
@kevinSuttle As far as I understand how Emotion uses this, it should still pass props to functions in your style argument, only remove them from the rendered HTML

[2019-06-03 21:27] jxnblk commented on #533
In v5, it's part of the `@styled-system/color` package and should be exported by the main `styled-system` package

[2019-06-03 21:35] leantide commented on #533
Thanks. I should have figured that out.
FWIW, table @ https://styled-system.com/guides/migrating could be updated to show opacity under color.

[2019-06-03 21:35] #533 closed

[2019-06-03 21:44] kevinSuttle commented on #517
Gotcha. I’ll open up a new issue later. Thanks!

[2019-06-03 22:05] jxnblk commented on #524
Sounds like a good idea to me! Feel free to open a PR here: https://github.com/system-ui/theme-specification/

[2019-06-03 22:09] #529 closed

[2019-06-04 02:21] kevinSuttle opened #537 "defaultProps + system"
Given the following, theme values and component:
[code]

[code]
This is the output I'm seeing as of v5.0.5.

<img width="600" alt="Image 2019-06-03 at 4 47 45 PM" src="https://user-images.githubusercontent.com/95672/58845925-213fa880-864b-11e9-964e-682033820637.png">

Notice that `white-space` isn't set. I could also very well be overlooking something that's been documented already or have made a

[2019-06-04 03:38] jxnblk commented on #537
I *think* it's in call to `system`: the arguments to `system` need to have keys for the props you wish to use:

[code]

*Or* since the CSS property is the same as the key, you can use the shorthand: `system({ whiteSpace: true })`

[2019-06-04 15:08] jxnblk commented on #531
Thanks! I probably don't have as many pointers as you'd like, but maybe some other people can shed some light cc @peduarte @emplums

As for the different approaches, here are some quick thoughts:
1. I love the `css` prop – it lets you quickly write styles where you need them and easily remove them when you don't
2. Creating new styled components is good when you have a good abstraction and you wan

[2019-06-04 16:34] cereallarceny commented on #531
Fair, fair, fair, fair, and......

fair.

Thanks for the explanations on the history of `themeGet` and `compose`.

As for `themeGet`, I'm only using object syntax at this point, so having to curry `(props)` every time was totally annoying.  Looking at it in the context of your string literal is pretty cool though, and not **that** much more code than writing it within `css()`.  On the other hand,

[2019-06-04 19:05] willtrking commented on #464
Spent some effort attempting to mitigate this issue in our codebase, seems like it comes down to the way the types specified by styled-components work, possible to solve this problem by overriding how the `styled.*` functions work to specifically omit certain HTML properties that are also used by styled-system. It really isn't components defined by SC that are preventing this, but those provided b

[2019-06-04 21:28] kevinSuttle commented on #537
That was it! Thanks @jxnblk!

[2019-06-04 21:29] #537 closed

[2019-06-05 07:49] neoziro commented on #524
@jxnblk PR submitted

[2019-06-05 09:29] laij84 opened #540 "Prop `fontSize={0}` returns css `font-size: 0` instead of taking the first item in the theme.fontSizes array"
Styled-System 5.0.4

When using the { typography } on a styled component, passing a fontSize prop of 0 renders the element with css `font-size: 0` instead of taking the size defined in the array at position index 0 (fontSizes[0]). Passing `fontSizes={1}` however returns the size defined in fontSizes[1].

Is this the expected behaviour? Should the first item in the array be made 0 like the space sc

[2019-06-05 10:27] peduarte commented on #464
@willtrking hey dude, yeah you're right. I've spent so much time on this already.

If you have a decent solution please share.

I've tried:
- creating custom `textColor` prop (works well)
- ignoring the error with `any` - sucks.

[2019-06-05 13:36] jxnblk commented on #540
This should’ve been fixed in 5.0.5 if you can try that version

[2019-06-05 19:32] chrisbull opened #541 "Compose not combining props system as expected"
Recommendation... compose should really work like recompose, react-apollo, or any typical compose function. But it doesn't (currently).

What I mean by this is that compose currently doesn't allow for combination styled threads. For example:

[code]

** ⬆️  Doesn't work as expected.  😠 **

As you can see, what I want to do is apply the same set of styled responders to a variable called boxProps. A

[2019-06-05 20:21] jxnblk commented on #541
The Styled system `compose` is *only* for use with styled system and handles internal perf improvements. You can add other functions as separate arguments to the `styled.div` to use other style props. If you’re trying to share these as a set, you can keep them in an array and spread them as arguments *or* use a separate function compose utility

[2019-06-06 00:50] chrisbull commented on #541
@jxnblk Great answer. But i'm sharing more as a fan of styled-system, and believe consumers like myself, who are trying to use it for react-native ... find the current setup confusing, unconventional, and difficult to use with react-native and react-native-web. I think with a few minor adjustments, it would be the ultimate library for more users.

[2019-06-06 11:29] moshemo opened #544 "Named Alias Not Working for Space"
I have created the following space array with aliases:

[code]

And I have a header component that I added the space function to.  This component works fine if I reference the space array index -- like this:  `<Header px={5}>`

But if I try to use the alias, it will not work.  I.e., this does NOT work:  `<Header px='md'>`

Any idea why this doesn't work?

Thanks.

[2019-06-06 12:26] ItsWendell commented on #133
Having same issues here

[2019-06-06 19:51] elliotbonneville commented on #531
@cereallarceny Just dropping by to say that I recently wrapped up a bunch of refactoring from raw `styled-components` into components built with `styled-system`. I experimented with a few different approaches as well and have settled on your third approach as being the most readable, consistent, and convenient as well.

The only thing I'm struggling with now is when to cut over from using props in

[2019-06-06 20:04] cereallarceny commented on #531
No, very interesting interjection.  No apology needed.  I hadn't considered
extra props actually.  Although I'm sure you can just use the spread
operator over the props within the styled component definition.  For
instance:

[code]

Something like that?  Sorry, the code may not work... I'm replying from my
phone!

[2019-06-06 21:52] mfix22 commented on #544
Hey @moshemo, I can imagine it being any number of issues.

I have created an example on Code sandbox here: https://codesandbox.io/embed/cranky-chatelet-wf3o5 that shows an example for your use case above.

[2019-06-06 22:09] dapetrov commented on #531
I think that even for one-off styling it's always better to define separate objects with styles, using css function, like

[code]
And when you want create new component (from element or extending from existing) the 3d way seems to be the best.

[2019-06-07 02:26] cereallarceny commented on #531
Interesting @dapetrov - how would you handle use submitted props?  Maybe something like this?  (I haven't tested if the below actually works.

[code]

[code]

[2019-06-07 02:50] mfix22 commented on #466
These are now included in the latest version of `@styled-system/prop-types` 👍

[2019-06-07 02:51] mfix22 commented on #375
This can be closed @jxnblk 👍

[2019-06-07 07:07] dapetrov commented on #531
I think if you want props that your stores styles should react, I would do like this:

[code]

[2019-06-07 08:04] peduarte commented on #466
Awesome

[2019-06-07 08:04] #466 closed

[2019-06-07 08:21] sebald commented on #519
This is a little bit off topic, but I didn't want to bother you with a new issue (if you prefer I can put this in a new issue though):

Since start working with `@styled-system/css` (and trying to make typings for it), I stumbled upon some things that I would like to improve. I absolute love what you created with `styled-system` and before I fork the project and make "yet another styled system tha

[2019-06-07 08:33] tresko opened #546 "Duplicated className style props"
ClassName style props are duplicated in version 5.0.5. Check Heading component in [the example](https://codesandbox.io/s/styledsystembasicdemo-fqy1r).

![example](http://shrani.si/f/M/K4/2OWKGYTL/screenshot-2019-06-07-at.png)

[Example: https://codesandbox.io/s/styledsystembasicdemo-fqy1r](https://codesandbox.io/s/styledsystembasicdemo-fqy1r)

[2019-06-07 12:22] mydesireiscoma opened #547 "Animations / Keyframes"
How to add keyframes and animations?

[2019-06-07 12:35] dapetrov commented on #547
For example, like this:
[code]

[2019-06-07 13:23] #375 closed

[2019-06-07 14:50] mydesireiscoma commented on #547
@dapetrov
In this case I receive following error
[code]

[2019-06-07 15:15] cereallarceny commented on #531
@dapetrov How do you handle the user passing props from outside? See my CoolBox example where the user passes in a custom `py` prop.  Likewise, how would you handle passing in props that aren't supported in styled-system or CSS (i.e. if the CoolBox passes `user={user}`)?

[2019-06-07 15:22] jxnblk commented on #547
@mydesireiscoma this looks like an issue with `styled-components`, you'd probably have better luck opening an issue on that repo, but that error message should hopefully point you in the right direction

[2019-06-07 15:27] dapetrov commented on #547
Yeah, it's styled-components related issue: https://spectrum.chat/styled-components/help/how-can-i-use-a-custom-animation-with-the-style-object-syntax~91d624ea-a5a3-4d0e-9314-4da860059112

[2019-06-07 15:35] mydesireiscoma commented on #547
@jxnblk
@dapetrov
I don't thinks it's a styled-components issue
[code]
In styled-components everything works fine ([as described in docs](https://www.styled-components.com/docs/basics#animations))
Example:
[code]

[2019-06-07 15:42] #547 closed

[2019-06-08 12:50] mydesireiscoma commented on #547
I found a way to solve this problem
https://github.com/styled-components/styled-components/issues/2561#issuecomment-500121743

[2019-06-09 09:12] calspre commented on #531
I would use `css()` if you don't intend composed elements to override the styles you've declared and use style props (`<Box bg='red' />`) if you want that behavior. Given your example:

[code]

`CenteredBox` would get `px={5}` while `CenteredBox2` would not. Other than that, I assume it's your call and probably best to discuss with your team and stick with one pattern.

Looking at the `@styled-sys

[2019-06-10 14:38] pzhine commented on #499
I ran into the same issue, and figured out what was going on. I was thinking (like @moshemo, I bet) that the order mattered when `compose`ing your system objects. But what actually matters is the order in which the style props are applied to the component.

I have a variant called `textSize` that controls both `fontSize` and `lineHeight`. Sometimes, though, I want to override the lineHeight.

This

[2019-06-10 14:48] ericberens opened #549 "compose does not maintain stable order of media queries"
Using `styled-system@4.2.4` If you `compose` a set of styles together and use responsive arrays then depending on the order or the interpolation functions in the composed statement it will generate css media queries in the incorrect order. This appears due to the way the style objects are merged together.

Given:
[code]

and usage with the default breakpoints from styled-system:
[code]

then the b

[2019-06-10 14:51] ericberens commented on #549
Happy to open a PR to fix the v4.x issue if there isn't a more performant solve (not overly excited about looping over each breakpoint again to re-order the media queries back into the correct order). Also would like to find a way to test that the order of the returned styles is as expected. `to(Strict)Equal` won't do the trick.

[2019-06-10 15:28] peduarte commented on #546
Can confirm 👍

[2019-06-10 15:33] peduarte commented on #540
Working fine for me in `5.0.5`

[2019-06-10 15:34] jxnblk commented on #546
Ah, I see what’s happening. The `fontSize`and `lineHeight` functions are shimmed so that things don’t break when upgrading, but they should be replaced with the new `typography` one. I’ll see if there’s a way to avoid the duplication in the shims as well though

[2019-06-10 15:49] laij84 commented on #540
Same can close issue

[2019-06-10 15:49] #540 closed

[2019-06-10 15:58] peduarte opened #550 "Plans to remove individual style functions"
Hey 👋

With the new addition of Style Categories, are there any future plans to remove access to individual Style functions?

I'm asking because:
1. Those functions are commented with `v4 shim` in [main export](https://github.com/styled-system/styled-system/blob/master/packages/styled-system/src/index.js#L30)
2. I'm not planning on using Style Categories exclusively

Regarding point 2, I'm not a f

[2019-06-10 16:02] jxnblk commented on #550
The real push is to use the `system` function directly, which would let you define exactly which props you do and don't want to use on your components. Part of the thinking is that this could (potentially/maybe/no-promises) be a better way of handling types with styled-system – i.e. you'd define your own types for props & theme values however you want. Using `system` directly is also meant to help

[2019-06-10 16:07] peduarte commented on #550
Interesting. If the push is to use `system` mainly, then it'd also make sense that the Style Categories are installed separately - that way, the main Styled System library is `packages/core`.

Quite like that idea, it's lightweight and composable.

This also means I can build my own Styled System API :)

Should help fix some of the Typescript annoyances.

[2019-06-10 16:09] #550 closed

[2019-06-10 16:16] colepeters commented on #546
I'm seeing the same thing with properties from style functions other than `typography`, FWIW: https://zpt80.codesandbox.io/

![image](https://user-images.githubusercontent.com/1713932/59209557-3350a800-8b71-11e9-96ed-80f221ff068b.png)

[2019-06-10 16:25] jxnblk commented on #546
@colepeters this will probably happen for any of the new category functions

[2019-06-10 16:48] colepeters commented on #546
@jxnblk Just to clarify: even if only the category functions are used, and not any shims from the same category?

[2019-06-10 17:17] fk opened #551 "Order of media queries in v5 (breakpoints object, defaultProps)"
Using the latest v5, I ran into an issue of media queries being ordered wrong when used with a `breakpoints` _object_ and `defaultProps`. This worked fine in v4.

Here's a https://codesandbox.io/s/styled-system-defaultprops-breakpoints-410v5 with a reproduction. I'll hold back from explaining what is going on there for now (in the hope that the sandbox code is self explanatory).

<img width="1341"

[2019-06-10 18:28] jxnblk commented on #546
@colepeters if only the new category functions are used, it should *not* happen. I can't seem to see the source code for the codesandbox above, so I'm unsure how you've used it...

[2019-06-10 19:33] colepeters commented on #546
@jxnblk Crap, sorry, I'm horribly late to codesandbox — does this work? https://codesandbox.io/embed/bold-night-zpt80

[2019-06-10 20:35] kof opened #553 "Consider switching away from css() namespace"
To follow up on our twitterland discussions, here are a few challenges which come up once you start using css function from styled-system and css prop babel plugin proxy:

### Problems
1. You might end up importing 2 css() functions from both emotion and styled-system within one product. This will result in mental overhead because you always need to look up which one is used right now.
1. Same thi

[2019-06-10 20:49] jxnblk commented on #553
Thanks! If the named export changes, I want to make sure it's a solid choice before rolling it out since it's used in a few places already.

Here's just a few quick thoughts:

1. With Styled System CSS, you can rename the import whatever, which might make sense to go ahead and show in the docs for clarity, e.g. `import sx from '@styled-system/css'`
2. With the above, it'd become `css={sx({ color:

[2019-06-10 20:57] kof commented on #553
1.Yes, renaming imports is possible in any case, it's just that there will be struggles to unify that convention in the teams.
3.Let's keep exploring a possible interface, downsides of `raw(value)` :
- yet another import
- needs to be repeated around every value, more verbose
Benefits: it is explicit.

[2019-06-10 23:13] jxnblk commented on #553
Yeah, totally get that

I think the idea of adopting something like Styled System is that the theme-based values *are* the default and raw values are the exception, so ideally you wouldn't need it for **every** value, right?

In thinking about this issue across the board of applications we're looking at, I'm leaning more towards using a custom pragma (that uses Emotion's create element function un

[2019-06-11 07:03] kof commented on #553
yes this is exactly what I ment by

[2019-06-11 07:34] leekad commented on #551
I have the same problems, in my case:
- defaultProps now override all the props

example from `rebass`

[code]

So the `defaultProps` now override all `m`, `mb` when I create <Header mb={10} />

[2019-06-11 17:31] lucasconstantino opened #555 "Where can I find v4 docs?"
Hello there.

I'm still stuck with v4 due to proper TypeScript support. Can I find that version's docs published anywhere?

[2019-06-11 18:11] jxnblk commented on #555
https://github.com/styled-system/styled-system/tree/v4.2.3/docs

[2019-06-11 18:39] lucasconstantino commented on #555
@jxnblk I took the permission to publish that on surge here:

http://styled-system--v4-2-3.surge.sh

If you disagree with that, please advise and I'll remove it.

[2019-06-11 18:39] #555 closed

[2019-06-11 19:51] jxnblk commented on #555
That’s fine. It’s all available under the MIT license anyhow

[2019-06-11 23:20] jxnblk commented on #546
@colepeters it looks like you have a few "duplicate" functions in there.

Instead of this:
[code]

Try this:
[code]

Things to note:
- The `compose` utility *should* dedupe these if they exist
- `display` and `overflow` are included in `layout`
- `opacity` is included in `color`

[2019-06-12 00:40] cereallarceny commented on #531
I haven't tested this @calspre, but would you be able to do something the following:

[code]

[code]

I would imagine that in this case, `px` would be set to `3` and that `fontSize` would be ignored.  Would we even need to pass the `space` styled-system function at all?

[2019-06-12 07:48] calspre commented on #531
@cereallarceny Does `Box` have color and space functions? In that case, you remove them from `SpecialBox` and `px={3}` would not work. As far as I know, it's the order of styles declared that affects specificity.

That's why I said in my previous comment `@styled-system/css` can be used as a standalone package and not use `styled-system` at all. If you go that route, you don't use style props (e.g

[2019-06-12 20:57] colepeters commented on #546
@jxnblk Thanks! I had an instance similar to the codesandbox example in my codebase without the 'duplicates' where this was also happening, but as soon as I wrapped them with the `compose` function, things were tidy as heck. Yay!

[2019-06-13 22:48] chrisbull commented on #496
I think this may be a null issue now with v5. But i'll report back if necessary. Thanks

[2019-06-13 22:48] #496 closed

[2019-06-14 13:21] ruaridhnewman opened #558 "@styled-system/css with breakpoint objects"
I am having an issue when using `@styled-system/css` where using breakpoint objects in our theme causes `css` to error with `breakpoints.map is not a function`. Our theme has something like this in it:

[code]

which works for everything else, but just seems to break when we use the `css` functionality as described in the docs.

Removing the breakpoint object array from the theme fixes it (as I as

[2019-06-14 17:24] jxnblk commented on #558
The css package does not currently handle plain objects for `theme.breakpoints`.

In style objects, you can use standard media query syntax as an alternative to the array syntax

[2019-06-15 09:35] nikparo opened #559 "Problems migrating to v5"
Hi,
I've had a few problems upgrading to v5 (from v3).

1. **Breakpoints** stopped working, since they were unitless. (E.g `768` rather than `'768px'`). Not sure whether breakpoints are handled by styled-system or styled-components, but it may be good to mention in the migration guide?

2. My **variants** have been css strings, however these no longer work - every character now goes on its own lin

[2019-06-15 10:59] nikparo commented on #499
I've had a look at the react and styled-system code. It seems to me that the issue is the wrong assumption that `defaultProps` are added to the start of the `props` using something like `props = Object.assign({}, defaultProps, props)`. However, the actual `defaultProps` insertion code adds them to the end of the existing object:

[code]

As such the resulting props object in @pzhine's first exampl

[2019-06-15 17:01] nikparo opened #560 "Is it a good idea to rely on object key order in v5?"
This is not a bug report, but rather some thoughts around implementation.

I've been using styled-system v3 in a commercial project for some time, and It's been good. Trying to upgrade to v5 in the last few days, I have realized that it is now relying on the object key order (prop order) and enumeration to be stable. Is this actually a good idea? From some brief research, [key order is not guarant

[2019-06-15 17:32] jxnblk commented on #560
If you’re not mixing conflicting style props, it generally shouldn’t matter, should it? If you have some examples of where the shortcomings are, I think they could potentially be good additions to the docs (I.e. mixing shorthand and normal border properties)

[2019-06-15 19:01] nikparo commented on #560
If the order is not as expected, then there are multiple properties that can easily conflict. E.g. `p` overriding `pr` etc., same for `m`, `mx`, `mr`,... `variant` css overriding other properties that are set explicitly. `border` short-hand overriding `borderColor`.

I should mention that I created this thread as a follow up to finding out that `defaultProps` get appended to `props`, messing with

[2019-06-16 05:39] sarneeh commented on #551
I have the same issue but actually in `v4`. Unfortunately, for some reason, I can't reproduce it. It behaves like that in my project but not in any other environment :confused:

[2019-06-16 06:10] kof commented on #560
It has always worked and is in the latest specs strictly definef.

I get this question from time to time on JSS repo.

On Sat, Jun 15, 2019, 19:01 Nik <notifications@github.com> wrote:

[2019-06-16 07:05] sarneeh opened #561 "Wrong media query order"
Hey! First of all, thank you again for this amazing library! :smile:

I have a weird problem. Take a look at this example:

[code]

This results in:

[code]

Which is wrong, as the lower media query is overriding the higher one (due to order in css).

Reproduction: https://codesandbox.io/embed/styled-system-media-query-problem-qbhnd

Version: `styled-system@4.2.3`. This also happens in `5.x`, but

[2019-06-17 08:06] andycarrell commented on #560
👍 to this being an issue.
For example:
[code]
Producing different results - even if this is "expected", it's very brittle. Any given refactor could break, code styling rules/guidelines can require props to be applied in alphabetical order, plus the issue with default props (as linked by @nikparo).

I don't really want to debate the merits of code style-guides, but point out that this functionality

[2019-06-17 08:13] nikparo commented on #531
@calspre I haven't tested it but I don't think your `CenteredBox` example above would work. `css()` returns a style function right? So for your code to work it would have to be immediately invoked:

[code]

[2019-06-17 14:53] jxnblk commented on #560
Thanks for bringing attention to this, but since this issue isn't very actionable on its own, I'm going to close in favor of https://github.com/styled-system/styled-system/issues/499#issuecomment-498045390 – I think a PR for failing test cases (potentially with React integration) is the best way to proceed

If you'd like to open an issue or PR to help document some of the pitfalls around using CSS

[2019-06-17 14:53] #560 closed

[2019-06-17 14:59] kof commented on #560
What can be done is adding tests which ensure specific order, just for the case that the logic changes unexpectedly and order changes accordingly, not because javascript has an issue with object props order.

[2019-06-17 15:05] jxnblk commented on #561
Thanks! This *appears* to be working in Chrome (at least on my end) and inspecting the injected CSS looks like styled-components is sorting the values differently than you have above. Where did you pull that CSS block from, and could you list out relevant versions of styled-components, Emotion, etc.?

[2019-06-17 15:33] peduarte opened #562 "Style functions exposing extra props"
Hey 👋

I've noticed that implementing `maxWidth` Style function, also exposes a [extra props](https://github.com/styled-system/styled-system/blob/master/packages/layout/src/index.js), such as:
- `width`
- `height`
- `minWidth`
- `minHeight`
- `maxHeight`
- `size`

For example:
[code]

[Demo here](https://codesandbox.io/s/styled-system-issue-eml9w)

I suppose this is somewhat related to #546

Cheer

[2019-06-17 16:57] jxnblk commented on #562
Maybe this isn't clear enough in the migration doc, but the old non-category functions are only meant as shims to prevent breaking changes. Each shim is a renamed export of its category, so `width` is using the new `layout` function under the hood. Ideally, when migrating to v5, you'd either adopt the preset categories of props *or* use the `system` function to define a set of custom props.

Hope

[2019-06-17 18:23] peduarte commented on #562
@jxnblk Oh right, hmmm. I don't think that makes sense, sorry. 😕

I think if we're going to shim the old API it needs to work the same way. In my case (as you know) exposing extra props is a huge breaking change.

I'm not sold on the idea of Styled System forcing users into using Style Categories. I'm personally not a fan of this approach and don't think it should be promoted as best practice, but

[2019-06-17 19:27] jxnblk commented on #562
Right, so it sounds like you'd want to use the `system` function to specify custom props for your custom components. For your example above, you can make a `maxWidth` prop by doing:

[code]

You can also use the `system` and `compose` utilities together to create whatever custom categories you want and reuse them across multiple components.

The shims are only meant to be used as shims (to general

[2019-06-17 19:41] peduarte commented on #562
Yeah, that's what I've done for now.

Maybe I misunderstood the general direction of Styled System altogether. Allowing any props to be passed in enables a fast way of prototyping stuff, _which is great_, but not how I think Design Systems should work.

True, but at least that's explicit IMO.

I guess what I need to do now is re-create each Style Function I want to be able to expose individually.

[2019-06-17 21:51] jxnblk commented on #562
Yeah, the new API is really in `@styled-system/core` and `styled-system` is meant to help transition to that. The optional categories are in packages like `@styled-system/typography` `@styled-system/space`, etc. – the thinking is if you make something like a `Text` component, you'll probably want all the typographic style props together, and if you add a `Heading` and `Subhead` component, they all

[2019-06-17 21:55] jxnblk commented on #562
If you're not sharing props across multiple components, you probably don't need to do this, but if you are, then you can also share the `config` objects in modules and pass those to the `system` function where needed – either approach works, just wanted to point that out

[code]

[2019-06-17 22:39] jxnblk opened #563 "Support for theme lookups on `background` shorthand in `@styled-system/css`"
Currently theme-based values can be used in the `background` shorthand property by using a function as a value (e.g. ``` background: t => `${t.colors.primary} url('kitten.png')` ```), but parsing strings could make this syntax a little more ergonomic by splitting the string and checking against an array of keys defined in the theme (e.g. `Object.keys(theme.colors)`). This feature would require a f

[2019-06-18 10:38] peduarte commented on #562
Good stuff. Sorry for the misunderstanding and thanks for the clarification ✨

[2019-06-18 10:38] #562 closed

[2019-06-18 13:14] peduarte opened #565 "Inheriting configs"
Hey 👋

Im creating my own Style Function API on top of SS v5.

Without going too deep into why I'm doing this, I've created this minimal example to reproduce the issue: https://codesandbox.io/s/styled-system-issue-inheriting-configs-p3ibv

Basically, I'm importing the `border` function from SS and then creating my own `border` function based off its `config`.

Surprisingly the `borderRadius` prop

[2019-06-18 15:39] jxnblk opened #566 "Docs: update getting started and custom props pages"
The new `system` API in v5 should be introduced in the getting started section and made more prominent than it currently is

[2019-06-18 16:47] jxnblk commented on #553
After bouncing this idea around a little, some people (understandably) don't react well to the `scss` name :)

I'd like to have a clear and memorable prop name like `css`, but `scss` is certainly cryptic and has its own baggage. The only other name I've come up with so far that feels right (which is also a little cryptic) is `sx` – some loose variant of the `style` & `styled-system` but terse enou

[2019-06-18 16:54] kof commented on #553
More ideas:

"ss" - styled system (probably won't go well bc. of ww2)
"cs" - constrained styles
"stsy" - first chars of styled system
"sts" - first two chars off styled and first char of system

[2019-06-18 17:01] jxnblk commented on #553
Yes, this is *completely* off the table, and I try to make sure this library is never abbreviated that way

[2019-06-18 21:15] VinSpee commented on #553
choosing something for _the purpose outlined in this thread_ also helps to prevent that from happening by heading it off at the pass.

I know this isn't a democracy, but I think `sx` is nice - terse, uncommon kinda sleek. On the other hand, saying `ess ex` out loud can be muddy. Where do you want the emphasis? s__x__? __s__x?__sx__?

[2019-06-19 16:15] matthova commented on #553
Some more ideas, since the argument being passed in is an object
jss
jcss
jsoncss
jscss
cssjs
cssjson

[2019-06-19 16:39] jxnblk opened #570 "Netlify preview deploys are failing on first try, requiring a trigger to redploy"

[2019-06-19 18:22] VinSpee opened #571 "skipping breakpoints"
Hi again!

What's the best way "skip" a breakpoint? for example, I have some components which look like this:

[code]

Is there a better way to _skip_ a breakpoint besides passing `undefined`?

[2019-06-19 18:32] jxnblk commented on #571
That's the general idea, yes. You *should* also be able to use `width: [ '100%', null, '50%' ]`or `width: [ '100%', , '50%' ]`, but just noticed there's a bug with that behavior

[2019-06-19 18:33] VinSpee commented on #571
🤣 I just tried `null` thinking "that's shorter" and saw that bug

[2019-06-19 20:19] #571 closed

[2019-06-20 02:10] snesjhon opened #573 "Duplicate CSS properties"
I was trying to see how `rebass.js` components had been created, so I copied the `Box` and `Button` source from [here](https://github.com/rebassjs/rebass/blob/master/src/index.js).

It all works as expected, however when I looked at the source I found duplicated css properties. I'm not sure if this is intended or I did something wrong. My guess is something with the defaultProps, that might be add

[2019-06-20 07:25] snesjhon commented on #573
I thought this was a different task but after applying the suggestion here: https://github.com/styled-system/styled-system/issues/546#issuecomment-501059693

I was able to deduped the properties. Although I'm still getting duped media queries, but it looks like that'll be solved with: https://github.com/styled-system/styled-system/issues/546#issuecomment-500462069

Closing the issue.

[2019-06-20 09:48] ransjo commented on #499
What if createParser were to iterate over config instead of props, e.g. change
[code]
to
[code]
Then style order would respect config order, e.g.
[code]
would have borderColor overriding the border shorthand.

If I am not mistaken, this would generate the same style order as v4 `styled("div")(border, borderColor)`.

[2019-06-20 10:03] ransjo commented on #559
For #3, what if createParser were to iterate over config instead of props (see https://github.com/styled-system/styled-system/issues/499#issuecomment-503959544), to generate the same style order as v4 ?

[2019-06-20 15:25] jxnblk commented on #559
Thanks for reporting! If you're not doing so already, I'd certainly recommend bumping one major version at a time to address the breaking changes incrementally.

Yes, *all* number values are no longer converted to `px`, the migration guide does not specifically call out `theme.breakpoints`, but it should

I think these might have worked before by accident, but it might be possible to support embed

[2019-06-20 15:38] jxnblk commented on #499
@ransjo I’m fairly certain that would negate some of the perf benefits of looping over props

[2019-06-20 19:45] ndrsllwngr commented on #559
I can confirm 3 (defaultProps).

#### Demo
https://codesandbox.io/s/styled-systembasic-demo-5pku3?fontsize=14

[code]
`pl` and `pr` are working fine. But somehow `py` is rendered as `40px` (`defaultProp`) instead of `0px`.
[code]

[2019-06-21 00:41] snesjhon commented on #573
Sorry to open this again, but after continuing with the solution above I discovered something with `compose` and `variant` in relations to how it interacts with `defaultProps`

If I follow the `compose` route, I am able to remove the duplicated css. That's great!

Using the following:
[code]
I also have the following defaultProps

[code]

However if I add a variant, for example:

[code]

The `defa

[2019-06-21 10:16] nikparo commented on #499
@jxnblk I can see that looping over potentially 100+ keys in the config would be a bit slower than looping over a few props, but that could be pretty much negated with something like:
[code]

[2019-06-21 15:56] jxnblk opened #575 "Deprecate `@styled-system/jsx` in favor of `theme-ui`"
The `jsx` (custom pragma) package depends on Emotion and has been copied over to `theme-ui`. Since Styled System is largely intended to be framework/library agnostic, and since Theme UI includes Emotion, I think the package in this repo should be deprecated in favor of `theme-ui`

[2019-06-21 22:03] rathpc opened #576 "Need updated typings for v5"
I am not sure how many people are using this with TS but if you are, you probably realized the typings are still for v4.x and thus you get type errors trying to import the new composed groups.

Please update the typings 😄

[2019-06-21 22:08] jxnblk commented on #576
You can track progress here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/36041

[2019-06-21 22:08] #576 closed

[2019-06-21 22:09] rathpc commented on #576
Thank you!

[2019-06-24 21:59] jxnblk opened #578 "Rename `css` import in docs"
The examples for using `@styled-system/css` use the `css` name for the import. This might be confusing, so it could be renamed to make the usage more clear.

[code]

[2019-06-24 22:00] jxnblk commented on #553
As of `theme-ui@0.2.0` the custom JSX pragma now uses the `sx` (system) prop. The `@styled-system/jsx` package will be deprecated (#575) in favor of the `theme-ui` package, so I'm closing this out. A new issue has been created to disambiguate the usage in the docs: #578

[2019-06-24 22:00] #553 closed

[2019-06-24 23:50] emplums opened #580 "All properties from parent category get included when applying an individual prop"
I _think_ I've discovered a bug!

I noticed while working on Primer Components that it seems that all props that exist in a category get included when trying to include just one prop from that category.

For example, I've got some custom categories in Primer Components, one of them being `LAYOUT`:

[code]

Note that `display` is purposefully excluded from `LAYOUT` because I've already included it

[2019-06-24 23:51] emplums commented on #580
I'll link to a PR demonstrating this soon!

[2019-06-25 00:34] jxnblk commented on #580
This is a known issue – from my phone but can link to relevant issues later. In a nutshell, `width` isn’t part of the v5 api but it is provided as a shim to prevent accidental breaks. If you want to only use the width prop without the other layout props, you can use the lower-level `system` API to create a custom style prop

[2019-06-25 02:42] emplums commented on #580
Awesome, thanks @jxnblk!

[2019-06-25 10:31] mbmohib opened #581 "Align breakpoints with Material UI breakpoints"
Currently, we are using Material-UI with styled-component and styled-system using the same theme file. The material-ui breakpoint is a nested object with keys and values properties.

So I can't use for a responsive style like mt={sm: 1, md: 2}

How to solve this?

[2019-06-25 14:13] andyford commented on #476
did v5 kill this?

[2019-06-25 14:32] andyford commented on #559
oh man... we had a named breakpoints object with values as numbers. We were doing some other calculations based on these numbers, so the upgrade to v5 has really wreaked havoc!

[2019-06-25 15:23] sapegin opened #582 "Allow theme values in variants"
Now you have to use literal values for CSS properties in variants:

[code]

Which isn't just awkward but don't allow you to use dynamic theming, for example a dark theme which inverts text and background color. For variants this values are hardcoded at load time, so they would remain not inverted.

It would be great to be able to use theme values, similar to [@styled-system/css](https://github.com

[2019-06-25 19:17] jxnblk commented on #565
I *just* realized that I hadn't finished setting up the API to actually work like this (though I thought it was in there already) – think I can get an update to support this soon

[2019-06-25 21:04] #570 closed

[2019-06-25 21:11] #565 closed

[2019-06-26 12:34] davidalekna opened #587 "Warning: Over 50 classes were generated for component..."
Hello. Thanks for this awesome lib! After updating to latest styled-components@beta I have an issue reusing my Flex component.

[code]

I use this Flex container everywhere in my code with styled-system attributes. After updating to styled-components latest beta version `5.0.0-beta.5-ej2` I get this warning message

`
Over 50 classes were generated for component globals__Flex. This happens when so

[2019-06-26 14:41] ericberens commented on #587
You should be able to [`compose`](https://styled-system.com/api#compose) your interpolation functions together to resolve this type of error.

[2019-06-26 15:23] jxnblk commented on #587
Yes, with v5 the category-based functions have replaced the single prop ones, so `compose` should dedupe style functions that have overlay, but with your example, it would be better to use `layout` (which includes `width` and other props) and not use the shim for v4's `width` style function

[2019-06-27 08:21] davidalekna commented on #587
So I've used all of the v5 ones

[code]

but still getting same error :/

[2019-06-27 09:08] #587 closed

[2019-06-28 07:54] rafaelderolez opened #588 "Custom `size` variant applies `width`and `height` properties"
Hello 👋.

I'm creating a custom buttonSize variant with help from the ([docs](https://styled-system.com/variants#custom-variants)).

[code]

[code]

The above works fine and applies my padding as expected using my `space`, but it also applies `width: small;` and `height: small;` on my button component. I think this is due to [this line](https://github.com/styled-system/styled-system/blob/6cca63469

[2019-06-28 09:59] aliankarali commented on #195
First of all great job with this library, I love it, @jxnblk, but I don't get your argument. They should be part of the core API. Ultimately, I am trying not to use styled components outside of the design system library so I have some cases for example there is this text type where text should be capital. Other than that, I create my own generic components and pass styles as props when I want to s

[2019-06-28 13:38] jxnblk commented on #588
Are you also including the `layout` or a deprecated layout function in the same component? That would cause a conflicting prop name since it also uses a `size` prop

[2019-06-28 14:21] rafaelderolez commented on #588
Yes it also has `layout`. I've resorted using a different prop key in the meantime. Just found it weird to provide the `size` prop for the custom variant if the same key is used elsewhere!

[2019-06-28 14:52] jxnblk commented on #588
The `layout` function adds a set of props, including `size` (for width and height), so if you use `layout`, you'd probably want to not use the same prop name for something else, if that makes sense. You can also use the `system` utility directly for more control of what props you want to add to a component

[2019-06-28 21:03] angeloashmore commented on #581
@mbmohib I'm not sure if this answers your question, but `styled-system` supports object responsive styles: https://styled-system.com/responsive-styles#using-objects.

[2019-06-30 04:06] angeloashmore commented on #499
Just to reiterate what's happening here:

[code]

`<Button>` will resolve to a button with no padding despite the `px` and `py` props since `p={0}` is the last prop it receives. `p={0}` is the last prop since `defaultProps` is appended to the `prop` object, not prepended.

[code]

That example will render the button with the expected `px` and `py` values since `p` is no longer appended to the `pro

[2019-06-30 16:01] jxnblk commented on #499
@angeloashmore Sorry that I haven't had time to dig into this yet, but it would still be helpful to have some failing tests added to work with

[2019-06-30 23:49] angeloashmore commented on #499
Sure thing, I’ll try to write up a PR. 👍

[2019-07-01 05:55] angeloashmore commented on #499
@jxnblk Added a simple test case in PR #590. Let me know if you think there is a better way to test this. I imagine this needs discussion before changing the codebase.

[2019-07-01 07:22] #588 closed

[2019-07-01 14:56] gregoralbrecht opened #592 "Nested themes for local breakpoints not working"
I've noticed something weird with nested themes and their respective breakpoints. We have a "base" theme with the default `const breakpoints = ['40em', '52em', '64em']`. Sometimes, we want to use "local" overrides of the base theme, e.g. for a component that might have only one breakpoint which is not in the array above. We do this like this (There's one other `ThemeProvider` further up the compon

[2019-07-01 15:18] jxnblk commented on #592
Just noticed this isn't in the migration guide, but with v5, breakpoints are cached by the function, see https://github.com/styled-system/styled-system/blob/master/CHANGELOG.md#v500-2019-06-02 – v4 should support dynamic & nested breakpoints fwiw

This seems like a fairly unique use-case, but mind if I ask why you don't keep all breakpoints together in the root-level theme?

[2019-07-01 15:30] gregoralbrecht commented on #592
I was afraid you'd say this is a v5 thing 😅 Makes sense though, because this popped up after we upgraded. I believe globally defined breakpoints work totally fine for most use-cases but some components do need more granular control. The most common example might be a header which can easily have more than 3 breakpoints to look good on all kinds of window widths.

[2019-07-01 19:34] jxnblk commented on #592
Yeah, totally get that. I was anticipating some issues related to how the caching of breakpoints works, and I would like to provide a way to do what you're describing – it's just not in there yet. I'll definitely keep this in mind as I think about how to handle this in a good way – right now I'm thinking the API could involve something like adding a `disableStyledSystemCache` boolean to a theme

[2019-07-02 00:52] scf4 opened #593 "Styled System forwarding props (e.g., "width", "font-size") to HTML elements"
I'm using styled components. Is this the intended behavior?

**Rendered HTML:**
[code]

[2019-07-02 02:59] jxnblk commented on #593
This is an issue with the styled-components library, see https://styled-system.com/guides/removing-props-from-html

[2019-07-02 08:23] gregoralbrecht commented on #592
Glad to hear you have a plan for this. Is there anything we could do on our side to make this work with v5 until this is implemented? Also, is there anything we could do to support you with this?

[2019-07-02 08:35] drakang4 opened #594 "Using variant breaks the first CSS property"
In this example: https://codesandbox.io/s/proud-water-3j1zt

I made a `Text` component with `variant` function using this theme.

[code]

So 'big' variant is expected to generate styles like this

[code]

But it actually generates which has incorrect syntax
[code]

[2019-07-02 08:41] drakang4 commented on #594
When I pass an array to variant prop, media queries are generated correctly as expected,

[code]

![image](https://user-images.githubusercontent.com/11497500/60497857-96f16f80-9cf0-11e9-82a5-ab06d7cb892e.png)

[2019-07-02 08:52] drakang4 commented on #594
And I found only creating component using object syntax causes this.

This syntax is fine.

[code]

[2019-07-02 10:27] peduarte commented on #562
#### Update for the ones interested

I've created a custom wrapper on top of `@styled-system/core` which allows me to have more control over how I want the API to work and hand pick which style prop I want to expose.

You can learn more about [Radix System here](https://radix.modulz.app/docs/radix-system)

Here's a list of the main differences
- Typescript support
- style functions are independent

[2019-07-02 14:00] scf4 commented on #593
Thanks!

[2019-07-02 14:00] #593 closed

[2019-07-02 14:54] jxnblk commented on #594
Functions need to be passed in as an argument to work, so it'd be `const Text = styled('p')(textStyle)`

[2019-07-02 15:00] jxnblk commented on #592
Sure! The relevant caching stuff starts here: https://github.com/styled-system/styled-system/blob/master/packages/core/src/index.js#L39-L41 – if you start a PR, I'd suggest starting with a failing test and working from there. Without any upstream changes, you might be able to nuke the `cache.breakpoints` and `cache.media` objects, which are added to each parser function as a static property, but t

[2019-07-02 15:53] drakang4 commented on #594
Thanks @jxnblk. It was very simple mistake 😂

[2019-07-02 15:53] #594 closed

[2019-07-03 19:08] ademilter commented on #302
i'm having the same problem 😢

[2019-07-06 18:24] mrcoles opened #599 "defaultProps for px overrides specified prop pr or pl"
See this codesandbox: https://codesandbox.io/s/styled-systemdefaultprops-issue-yogqm

If I give a box component defaultProps = `{ px: '40px' }`, then when I specify `pr={'200px'}` without specifying `px`, the defaultProps value takes precedence over the specified one.

I would expect the opposite to happen.

[2019-07-12 22:33] grantmoran opened #604 "Grid utility examples"
Hello all,

I'm very new to styled-system and have been digging around for basic examples of the [grid utility](https://styled-system.com/api#grid-layout) in action but haven't found anything substantial. Most of the documentation is Flexbox oriented. Additionally, many other searches result in projects which seem to be using styled-system for some things and Rebass for layout issues but again, Fl

[2019-07-13 10:55] cereallarceny commented on #348
@jxnblk [I wrote a quick CodeSandbox to explain the issue visually.](https://codesandbox.io/s/amazing-bhaskara-bqz5k?fontsize=14)

To me, this issue is super frustrating.  I feel that whatever you set as a `defaultProps` should be just that... a "_**default**_ prop".  If I select `{ m: 0 }` as my default margin for an image, why is it that the only value that will override this is another `m` prop

[2019-07-14 15:10] sanjilshah opened #606 "Using the mediaQueries key in theme"
The theme specification document mentions a ["mediaQueries"](https://styled-system.com/theme-specification#media-queries) key, can someone guide me how to use it along with breakpoints? I am looking to add device orientation based media queries.

[2019-07-15 17:21] #575 closed

[2019-07-15 17:30] #580 closed

[2019-07-15 17:58] jxnblk commented on #606
There isn't currently anything built in to Styled System that uses `theme.mediaQueries`, but it can be used as a convention for manually using the `theme.breakpoints` array in other places. With an array of `breakpoints`, you can add ```theme.mediaQueries = breakpoints.map(n => `@media screen and (min-width: ${n})`)``` along with any other values you'd like to the `theme` object. How you reference

[2019-07-15 18:00] jxnblk commented on #604
I don't think there are many official examples of using CSS grid properties in Styled System, but I'd recommend searching for CSS grid generally to get a sense of how it can work. https://gridbyexample.com/ is a good place to start, but I know there are many other resources out there

[2019-07-16 01:34] grantmoran commented on #604
Thanks for the reply, I'm fairly familiar with how CSS grid works but was just looking for something high level for styled-system. I've been playing with it for a bit now and think I have a sense of how to accomplish it. I'll try to write something up soon and see if it's worthy for documentation examples possibly as I know I've seen some others ask about this as well.

Thanks!!

[2019-07-16 01:34] #604 closed

[2019-07-16 13:51] jxnblk commented on #604
Yeah, IMHO CSS Grid Layout is sorta tricky to abstract with something like styled system, but the utilities are there if you need them. Would love to see what you come up with regardless!

[2019-07-17 16:14] rtymchyk commented on #593
This was a blocker for us when using AMP because unrecognized HTML props means your AMP page is invalid.

If you're looking for a solution, I've written an HOC that omits props from being passed down.

[code]

You can then use it like so:
[code]

[2019-07-18 11:50] siddharthkp opened #608 "How do you decide what should be a systemProp?"
Heyo!

While I was building a button group, I found myself reaching out for a granular radius prop like `borderTopLeftRadius`.

![button group screenshot](https://user-images.githubusercontent.com/1863771/61454461-99092e80-a97e-11e9-96b9-8018a4d71b84.png)

[`@styled-system/border`](https://github.com/styled-system/styled-system/blob/master/packages/border/src/index.js) doesn't support it out of th

[2019-07-18 17:17] benjamingeorge opened #609 "Typescript and themeGet"
I'm trying to use the new `@styled-system/theme-get` package but typescript complains about no types.  are these available?  I didn't find anything on @types repo.

[2019-07-18 17:37] benjamingeorge commented on #609
If anyone needs a quick solution (albeit maybe not absolutely correct) you can create a delcaration file in your /src/@styled-system/theme-get/index.d.ts and add
[code]

[2019-07-19 14:35] jxnblk commented on #608
I wrote a response to this yesterday, but just now noticed it didn't actually post... 😞I'll try again

With the first version of Styled System, I really tried to focus on style props that would be likely to change on a per-instance basis in a UI, i.e. margin, padding, width, font-size, color, and background-color. Properties like border and CSS grid came later as others were asking for them, but *

[2019-07-20 19:06] psullivan6 commented on #561
I can also confirm this issue, which more precisely seems to happen when a prop using a larger breakpoint is listed before another prop using a smaller breakpoint. For instance, my similar usage:

### Similar usage
[code]

### CSS Output
_(from copy/pasting CSS code directly from the injected `style` tag in the `<head>`:)_
[code]

### My testing environment
Mac - Chrome - version `75.0.3770.142`
`

[2019-07-22 17:25] #592 closed

[2019-07-22 17:41] sapegin commented on #599
Same with `m` vs `mt`/`mb`/`ml`/`mr`.

And it used to work in v4.

I guess we can change the order or props here:

https://github.com/styled-system/styled-system/blob/25c6e4d49f6b9e3154a59a5a3f4ed1a463ee27f7/packages/space/src/index.js#L24-L66

[2019-07-23 08:38] siddharthkp commented on #608
sigh, same.

Cool got my overall answer. 👍

and...

Yeep! That's a great point.

I'm doing exactly this but trying to use the same API.
- Created a custom prop `borderTopLeftRadius`
- Passing it down to the `Button` from `ButtonGroup`

Why?
To create one way of styling elements: passing system props.

This does have the problems you mentioned - Now the `Button` supports the custom prop for all sce

[2019-07-23 11:33] selrond opened #618 "Allow custom propTypes creation"
Despite having style groups (modules) from `v5`, I still use some single functions from `styled-system`.
Like this `Box.js` component

[code]

I don't need whole `flexbox` group, since I have a separate `Flex.js` component for that.

`@styled-system/proptypes` provides `propTypes` only for those groups. Thus I need to manually create propTypes for those single functions.

I suggest exporting `crea

[2019-07-23 12:58] Jaewoook commented on #599
It didn't solved yet? I can't upgrade to v5 because of this issue.

[2019-07-23 15:06] jxnblk commented on #608
While generally I recommend avoiding child selectors, I think in components like `ButtonGroup`, the odds of ending up with a large element tree as children is fairly low, if you use direct child selectors (`& > button`), I think it's an okay way to go. Though I do like the purity of having one method to style everything, I think it's okay to have more component-specific styles tucked away in a com

[2019-07-23 18:59] siddharthkp commented on #608
Thanks for taking the time to answer this! Appreciate it!

[2019-07-23 18:59] #608 closed

[2019-07-26 14:23] netojose commented on #387
Just rename your props. Use prop names different of valid HTML attributes. Styled components will filter and don't will show them on HTML

[2019-07-26 15:12] anzorb opened #629 "Hook into the breakpoints system for custom props"
Good afternoon folks, I am curious if it is possible to hook into styled-system's breakpoint mechanism for custom props. For example, I am working on a Container component that controls the margin of its children based on a prop. I'd like to have the prop accept an array same as `space` would:

[code]
[code]

The above would result in a margin of 8px on mobile and 16px on tablet+

Thanks in advanc

[2019-07-26 17:30] mikemclin opened #630 ""as" property removes inherited props from "styled" HOC"
When "extending with `styled`" as seen here (https://styled-system.com/guides/build-a-box#extending-with-styled), the `as` attribute removes all of the inherited properties from the HOC.

[code]

* `styled-system@5.0.16`
* `styled-components@4.3.2`

This was working with styled-system 4.

[2019-07-26 19:49] jxnblk commented on #630
I suspect this is an issue with `styled-components`, but I *thought* they'd fixed this already

[2019-07-27 11:15] tpdewolf commented on #561
I'm also experiencing a similar issue

[code]

returns something else than

[code]

in the latter the display is still flex, even on the latest breakpoint

`styled-components` : 4.3.2
`styled-system`: 5.0.16

[2019-07-27 12:39] mikemclin commented on #630
Yeah, I would expect the issue would be with `styled-components`, since it is their function.  However, it was working with `styled-system` 4, so I thought maybe there was something behind the scenes that `styled-system` 5 was doing which was not "friendly" to the `styled` function.

Also, I just tested using `styled-components@5.0.0-beta.8`, and the issue still exists.

[2019-07-29 14:49] k-sav commented on #304
So is it not possible to use a css pseudo element?

[2019-07-29 16:08] jxnblk commented on #304
Guessing this might’ve been related to the `content` property https://theme-ui.com/object-styles#pseudo-elements

[2019-07-29 16:31] k-sav commented on #304
Oh lawd. Thankyou!

[2019-07-29 21:48] joernroeder commented on #388
@albermav could you find a solution which implements a responsive vertical rhythm? looking into the same thing right now.

[2019-07-30 15:24] jxnblk commented on #531
Going to close this out since it seems like the discussion has mostly died down here

[2019-07-30 15:24] #531 closed

[2019-07-30 15:55] jxnblk commented on #629
You can use child selectors with Emotion or Styled Components, e.g.

[code]

[2019-07-30 15:55] #629 closed

[2019-07-30 15:57] #606 closed

[2019-07-30 16:08] jxnblk commented on #599
Styled System props take precedence based on order. The `px` and `pr`/`pl` props are *different* props, so setting one as a React `defaultProp` is going to behave differently than setting a default prop and overriding that same prop. Since this is built-in to how React works, and Styled System does not use React internally, I don't think there's much this library can do other than advise against t

[2019-07-30 16:08] #599 closed

[2019-07-30 16:10] jxnblk commented on #581
For Styled System you can define `theme.breakpoints` as an array *or* object, but it needs to be defined in the way this library expects it. You should be able to create a theme object that works with both libraries, but you'll probably need to provide the same breakpoints for each one since Material UI does not follow the same theme specification

[2019-07-30 16:10] #581 closed

[2019-07-30 16:18] jxnblk commented on #477
Thanks for sharing how you're using Styled System! I don't see any clear actionable next steps here, so I'm going to close this issue out. If you have further thoughts on how to make Styled System better or any ideas for additional packages, please feel free to open a new issue

[2019-07-30 16:18] #477 closed

[2019-07-30 16:19] jxnblk commented on #471
I *think* this has been resolved, but feel free to follow up with a new issue

[2019-07-30 16:19] #471 closed

[2019-07-30 16:22] TheSisb opened #639 "Add `system`-like override to css package"
Currently we generate tokens using Theo and our colors are split into `textColors`, `backgroundColors`, and `globalColors`.  I want to use the `css()` package like this:

[code]

But it currently fetches color values from the `colors` bucket, while I want `textColors`. Is there any plans to allow us to override where the values are looked up?  Somewhat like the [system api](https://styled-system.c

[2019-07-30 16:23] jxnblk commented on #480
In my experience, locking down an API like that will just force people to use other means to achieve what they want to do, and allowing flexibility in the API can help avoid fragmentation/one-offs and general tech-debt.

Generally speaking, and from what I understand with TS, you'll want to define types for your own theme, and Styled System is meant to be somewhat agnostic to how you structure you

[2019-07-30 16:23] #480 closed

[2019-07-30 16:25] jxnblk commented on #497
It looks like you've probably figured out the original issue, so closing this one out. Feel free to open a new issue, if anything else comes up

[2019-07-30 16:25] #497 closed

[2019-07-30 16:27] jxnblk commented on #464
Closing this out since there's not a ton of ongoing discussion. If you'd like to PR some docs on using Styled System, that'd be super helpful, or if you have some ideas for additional packages, that would also be helpful, and feel free to open a new issue

[2019-07-30 16:27] #464 closed

[2019-07-30 16:29] jxnblk commented on #499
Closing this out for now. I'm in the process of adding tests related to using React `defaultProps`, but there are a few different things being discussed in this issue. Feel free to open a new issue if there are more specific edge cases that should also include tests

[2019-07-30 16:29] #499 closed

[2019-07-30 16:30] #456 closed

[2019-07-30 16:35] jxnblk commented on #639
Styled System follows the [Theme Specification][], and you can map any other object to the shape that the core library expects.

The `@styled-system/css` package adheres to this specification, and allowing customizing for how that package works would potentially break how it's intended to be used. For style props with the core Styled System library, you can use the `system` API to customize things

[2019-07-30 16:35] #639 closed

[2019-07-30 16:36] jxnblk commented on #609
It looks like you've found a solution, so closing this out for now. Feel free to open a new issue if needed

[2019-07-30 16:36] #609 closed

[2019-07-30 16:39] jxnblk commented on #573
I'd recommend not using style props that collide with CSS properties in a variant. I.e. if you'd like to expose the `color` prop, use `defaultProps` to set a default, but don't include color styles in a variant on the same component. The two APIs are meant for different use cases, and because of how the CSS will be generated, I don't think there's a good way for Styled System to control that sort

[2019-07-30 16:39] #573 closed

[2019-07-30 16:50] peduarte commented on #531
RIP

[2019-07-30 17:53] mrcoles commented on #599
@jxnblk I’m not fully understanding what “this” is in “this is built-in to how React works”. Are you saying that React applies values for `defaultProps` to the *end* of a component’s props iff that prop is not specified and that’s why the default props end up taking precedence in this example?

It also sounds since you’re saying the order of the props in the component is what matters, that  @sapeg

[2019-07-30 18:14] jxnblk commented on #599
The `px` and `pr` props are different props, that's what I meant by *this is how React works*. The order of the props in the component is what determines the source order of the CSS with v5, so I don't think reordering the config object would make a difference (I might be misunderstanding the suggestion though)

[2019-07-30 18:19] jxnblk commented on #379
Going to close this out since it seems like you've found a workaround

[2019-07-30 18:19] #379 closed

[2019-07-30 18:23] jxnblk commented on #388
Thanks for the ideas here! I'm unsure of what you'd like to proceed with, but if you're interested in opening a PR or RFC for a new package to help with some of the issues you're trying to tackle, I'm open to it. Closing this issue for now since there isn't a ton of discussion around this

[2019-07-30 18:23] #388 closed

[2019-07-30 18:26] jxnblk commented on #348
Because `m` and `m[trblxy]` are all different props, using a default prop will only apply to the props you specify. Styled System only returns styles objects and doesn't do anything with React or the actual CSS generation, so I'm not sure that there's anything related to this that this library can do on its own, other than advise against using conflicting CSS rules between different props. Closing

[2019-07-30 18:26] #348 closed

[2019-07-30 18:27] #500 closed

[2019-07-30 18:28] jxnblk opened #640 "Add example for use with Linaria"

[2019-07-30 18:28] jxnblk opened #641 "Add example for usage with Reshadow"

[2019-07-30 18:28] jxnblk commented on #510
Closing in favor of #640 and #641

[2019-07-30 18:28] #510 closed

[2019-07-30 18:29] #462 closed

[2019-07-30 18:35] jxnblk commented on #519
Going to close this issue out since it's gotten a little off topic, but feel free to open new/more specific issues.

Based on your code example, did you mean `transition`? The transforms in the `css` package won't likely be customizable for some of the same reasons you mentioned above.

This is an interesting idea, and might be worth proposing in the [Theme Spec](https://github.com/system-ui/theme

[2019-07-30 18:35] #519 closed

[2019-07-30 18:44] jxnblk commented on #559
1. Addressing the breakpoints in the migration guide in #642
2. Using strings for values in a variant in the theme object wasn't intentionally part of the API before, but if there's a simple way to make it work in v5, I'd accept a PR
3. `m` and `mx` are different props, and Styled System can't do much with how React works in that regard. I'd recommend not mixing conflicting CSS properties between

[2019-07-30 18:44] #559 closed

[2019-07-30 18:44] #524 closed

[2019-07-30 18:46] #578 closed

[2019-07-30 18:49] jxnblk commented on #546
Generally you should use `compose` to combine multiple style props to avoid this issue. The shims have been updated to help mitigate some cases where this would happen. Closing this issue, but feel free to open new issues if needed

[2019-07-30 18:49] #546 closed

[2019-07-30 18:50] #544 closed

[2019-07-30 18:54] jxnblk commented on #541
Thanks for the ideas/discussion! Going to close this for now. The Styled System `compose` is a utility meant only for the parser functions in this library. A more general purpose utility like you're proposing is an interesting idea – if you'd like to open a PR or RFC for a separate package to do some of this, I'd be happy to take a look.

For use with React Native, I'd love some help in adapting t

[2019-07-30 18:54] #541 closed

[2019-07-30 18:55] jxnblk commented on #363
Closing this for now. Feel free to open a PR with a docs update if you have any suggestions for making them better

[2019-07-30 18:55] #363 closed

[2019-07-30 19:51] mrcoles commented on #599
@jxnblk I was unclear about the “Are you saying that React…” part. I went ahead and wrote a quick demo to validate it and I am now seeing—as you were implying—that **React adds missing defaultProps to the end of a component’s props**. That’s really unintuitive (for React to do it that way), but helpful to now know!

Given that knowledge, yeah, I do not see how @sapegin’s comment would help either.

[2019-07-30 20:23] #561 closed

[2019-07-30 21:50] snesjhon commented on #573
Got it. Thank you for the clarification @jxnblk !

[2019-07-31 10:43] cereallarceny commented on #348
With all due respect @jxnblk - I'm not sure that's really an answer to the problem.  Personally, I'd imagine most of the people in this thread consider this to be something that should be changed in the library.  There's not a ton of properties that would need this exception, I'm sure it wouldn't be a hard fix to make.

To provide an example, I know I've spent hours trying to figure out why `margi

[2019-07-31 11:25] Daveawb commented on #314
The Design systems that I've been subjected to recently have typically defined different style rules at varying breakpoints for elements such as `<p>`, `<h1>` and so on. Not having a utility to define this in a theme reduces its re-usability across projects considerably.

I'm not saying whether this is right or wrong for DS' to define this, however not being able to do it in the theme makes me sad

[2019-07-31 15:09] jxnblk commented on #314
@Daveawb Sorry, I don't mean to make you sad :/ I'm not opposed to making the variant utility work in some responsive way, but the general convention in Styled System is that responsiveness is a concern of the component, not the theme. That said, I think this WIP PR is a good indication of intent to make variants more powerful, FWIW #583

[2019-07-31 15:15] jxnblk commented on #348
@cereallarceny

The difficult parts in my mind is 1) non-breaking change, 2) staying true to how CSS behaves, and 3) not coupling this library with React or any CSS-in-JS solution. The `m` and `mx` are still different props, and making them contextually aware of other props seems like it'd require a little bit of "magic" to work.

Yes, I am certainly open to proposals on how to make this better. T

[2019-07-31 15:34] DDDDDanica opened #643 "Integration with Material-ui"
Hey,

Just come across an issue when set up the project with `material-UI`, `styled-components` and `styled-system`: The props I defined in the theme cannot be called as a normal variable inside `styled()` method.

So this is the theme setting i have, which i use to wrap my root app component:
[code]
and for my `theme.js`, i have:
[code]

When i'm trying to access it from a material-ui component:

[2019-07-31 15:57] jxnblk commented on #643
Hi! Material UI uses its own CSS-in-JS library, which can be tricky to integrate with, but I think there might be some misunderstanding of how Styled System works. When you use the `styled` function, you'll want to pass the `color` function like this:

[code]

With that function added, you can use the `color` and `bg` props on the Button, like so `<Button color='tomato' bg='black' />`. That said,

[2019-07-31 16:21] jxnblk commented on #630
I tried adding an integration test here: https://github.com/styled-system/styled-system/blob/master/packages/styled-system/test/styled-components.js#L40-L52

If you're able to create a PR with another test like this that fails, that could be helpful. The installed version should be `styled-components@4.3.2`

[2019-07-31 16:22] jxnblk commented on #618
You should be able to `import { createPropTypes } from '@styled-system/prop-types` now

[2019-07-31 16:22] #618 closed

[2019-07-31 16:29] jxnblk commented on #551
I *think* this was resolved in `v5.0.18`, but feel free to reopen this if you still notice the issue:
https://codesandbox.io/s/styled-system-defaultprops-breakpoints-bs2gf

[2019-07-31 16:29] #551 closed

[2019-07-31 16:30] jxnblk commented on #549
This *should* be resolved in `v5.0.18`, but please reopen the issue if not

[2019-07-31 16:31] jxnblk commented on #549
Sorry, just remembered this was for v4, not v5. If you're able to PR a fix for v4, we can try to get that fix published still

[2019-07-31 19:22] selrond commented on #618
Great, thanks!

[2019-07-31 20:52] joernroeder commented on #367
Hey, i'm running into this as well. i'm currently trying to calculate some ratio based on a static (no scale) `myConst` value from the theme inside a custom prop transform function. Of course i could pass `myConst` in into every component `<Foo ratio={4/myConst} />` but i'd like to have that handled inside the transform – which feels to be more precise to me but seems not possible right now.
Provi

[2019-08-01 04:31] 454de6e opened #644 "Breaking change from 5.0.16 to 5.0.18"
When upgrading from 5.0.16 to 5.0.18 there seems to be a breaking change. I have not had time to dig deeper, that's why I need to explain with screenshots.

This is a heading rendered with 5.0.16:

<img width="432" alt="5 0 16" src="https://user-images.githubusercontent.com/1482402/62265579-98e34700-b3f2-11e9-9267-b4e4b3684e3a.png">

The corresponding component has these props (note the `mb={3}` w

[2019-08-01 12:14] nerdyman opened #645 "TypeScript definitions for @styled-system/should-forward-prop"
Hi,

I'm using TypeScript with [@styled-system/should-forward-prop](<https://www.npmjs.com/package/@styled-system/should-forward-prop>) but can't find any type definitions in [@types](<https://github.com/DefinitelyTyped/DefinitelyTyped>) or within the module itself. TypeScript recommends installing `@types/styled-system__should-forward-prop` but it's not a package.

Are there type definitions avai

[2019-08-01 14:15] #643 closed

[2019-08-01 14:15] DDDDDanica commented on #643
Thanks !!! @jxnblk

[2019-08-01 14:43] 454de6e commented on #644
Here is some more context of what is happening. The component for which the problem occurs is `Heading` from `rebass`. `Heading` sets as default `m={0}`. Then I set on `Heading` `mt={0}` and `mb={3}`.

With `styled-system` `5.0.16` the margins in the generated CSS show up in this order:

[code]
and the component renders with a `1rem` bottom margin.

After upgrading to `styled-system` `5.0.18`, the

[2019-08-01 14:56] jxnblk commented on #644
Thanks! `5.0.18` was an attempt to fix another ordering bug, and I'm wondering if you're code was taking advantage of that bug. Based on the screenshot, it looks like you have `mt={0} mb={3} m={0}` in JSX, but the panel on the right (React devtools??) is showing a different order.
The last prop defined in order will take precedence over props defined earlier, so if the JSX is correct, the shorthan

[2019-08-01 14:58] jxnblk commented on #644
Here are related unit tests to demonstrate the intended behavior https://github.com/styled-system/styled-system/blob/master/packages/space/test/index.js#L152-L186

[2019-08-01 15:06] 454de6e commented on #644
This is the code: https://github.com/UNDataForum/components/blob/11f40ab7a71ce2e6464122cf756fe11be95f547e/packages/components/src/components/PostPreview/PostPreview.js#L10-L18

`Heading` sets `m={0}` as default, but it is not an explicit prop of `Heading`. I would expect any margins I set explicitly win over defaults.

[2019-08-01 15:15] 454de6e commented on #644
The obvious workaround based on your unit tests is explicitly set `m={0}` as first prop, i.e.

[code]
I realize that `styled-system` is much harder than I thought because the cascading nature of CSS in one way or another creeps into the props.

[2019-08-01 15:26] jxnblk commented on #644
Yeah, default props can be tricky as well, because if you set `m` as a default prop, the `mt` prop is different and won't necessarily override it

[2019-08-01 18:20] folz commented on #463
First, thank you @jxnblk for creating styled-system! It's been amazing to work with so far.

I'm also running into issues with (missing/inaccurate) typescript definitions and would be willing to contribute effort on converting to typescript. Since we're using styled-system at my day job, I can spend a fair chunk of time working on this. I can also set up the ts->prod build pipeline and document an

[2019-08-01 19:21] tsaiDavid commented on #463
@jxnblk - indeed, thank you!

We are just starting to see the value in `styled-system` and it'd be super great if we could get the ball rolling on something :)

[2019-08-02 07:20] grrowl opened #646 "Document the behaviour of compose() when using both variant and specific styles"
We should document how `compose()` interacts with variant styles (like `colorStyle`) which may render specific props (like `color`) ineffective when composed.

It makes sense that this might be the behaviour for performance reasons, but it's a bit of a gotcha when on a user level you might expect it to act in the same order and with the same effect as non-composed function.

https://styled-system.

[2019-08-02 09:02] nikitavoloboev opened #647 "I can't do `overflow: hidden`"
There is no `overflow` in [API](https://styled-system.com/api/). Is it possible to do?

[2019-08-02 09:13] nikitavoloboev opened #648 "How can I use pseudo elements inside defaultProps?"
I couldn't find any examples in the docs.

I have this component now:

[code]

I want to move the `&::after` selector to defaultProps but I have no idea how to do it.

[2019-08-02 09:17] nikitavoloboev commented on #647
Ok I see that in [Table docs page](https://styled-system.com/table) overflow property is there. I guess API needs to be updated to include it

[2019-08-02 09:17] #647 closed

[2019-08-02 18:08] jaridmargolin commented on #463
Hey @peduarte @folz @tsaiDavid @sw-yx and company...

I spent a good amount of time working on a solution to type styled-system. I ran into a few limitations and ended up spinning out my work into a separate repo (apologies for the lack of documentation... you'll have to rely on the types for now 😝): https://github.com/jaridmargolin/properly-styled

It is pretty raw, but it is functional. I reache

[2019-08-02 20:52] sibelius opened #651 "enable custom "prop" to breakpoints"
We are having trouble using styled-system v5 with material-ui because `createMuiTheme` will create the following breakpoint as an object

![image](https://user-images.githubusercontent.com/2005841/62397952-a6f9aa80-b54d-11e9-891b-96e69dd02dae.png)

[code]

can we have a `prop` on `theme` that says the `key` of breakpoints?

[code]

[2019-08-02 21:00] jxnblk commented on #651
Material UI uses its own custom fork of Styled System, but you could probably add appropriate keys to the `theme.breakpoints` object that it returns that could work with Styled System.

E.g.
[code]

This library follows the [Theme Specification](https://github.com/system-ui/theme-specification), and it's not really in the interest of this effort to allow customization of the theme shape here

[2019-08-02 21:00] #651 closed

[2019-08-02 21:01] jxnblk commented on #648
There aren't any styles props that support pseudoelements, but I think you'd want to put the style you have in the `styled` HOC before the Styled System functions.

[code]

[2019-08-02 21:02] sibelius commented on #651
@oliviertassinari any way to use theme specification on material-ui?

[2019-08-02 21:03] jxnblk commented on #646
Thanks! The docs probably aren't clear enough on this subject, but generally you shouldn't mix style props with variants that cover the *same* CSS properties. Due to the cascade (i.e. source order), it can cause unexpected issues

[2019-08-02 22:33] oliviertassinari commented on #651
@sibelius This is an interesting interoperability issue, I wasn't aware of it, thanks for raising. I have been keen on improving the breakpoint structure of the Material-UI themes since we first introduced it in v1 alpha. I'm [not very happy](https://trello.com/c/JlTEy79C/1376-simplify-breakpoint-structure) with the way it can be used/customized right now. @jxnblk is right, Material-UI system star

[2019-08-03 10:08] peduarte commented on #463
@jaridmargolin hey man, yeah I remember taking a look at this a while back. It does look pretty solid and there's loads of TS goodies in there :)

[2019-08-03 16:15] nikitavoloboev commented on #648
Thank you.

[2019-08-03 16:15] #648 closed

[2019-08-03 18:06] nnals opened #652 "Is the default theme documented somewhere?"
Hello,

Is there currently a more efficient way to see the default theme than to look at each file separately (e.g. https://github.com/styled-system/styled-system/blob/master/packages/typography/src/index.js gives me `fontSizes: [12, 14, 16, 20, 24, 32, 48, 64, 72]`)?

Sorry, if I missed something in the docs.

As a side note: It would be quite nice if the docs were searchable.

Thanks for this wo

[2019-08-04 18:41] joe-bell opened #653 "Extended `system` usage"
Hey @jxnblk, I'm currently implementing a "stack" component in my library based on the great work from [every-layout.dev](https://every-layout.dev/layouts/stack/)

I've removed `margin: 0; padding: 0;` from my `Box` HoC to make this possible, but the last thing left is getting a nice little prop to set my vertical rythym. The only issue is, this is nested in a "lobotomized owl" selector.

Is there

[2019-08-05 15:09] jxnblk commented on #652
Thanks! They're currently documented here https://styled-system.com/api#defaults – but yeah adding search to the docs is a great idea!

[2019-08-05 15:13] sibelius opened #668 "missing `css` prop on migration guide"
on v4 with could do something like this

[code]

and use like this

[code]

on v5 we need to use:

[code]

and use like this:

[code]

is this correct?

should we add this to migration guide?

[2019-08-05 15:24] jxnblk commented on #653
Not sure if I'm 100% following what you're trying to achieve, but you can use nested selectors like this (I *think* that's what you're aiming for, but let me know if I misunderstood).

[code]

There's the undocumented `createParser` utility as well, that can take custom transform functions if you're looking for something more custom than that

[2019-08-05 15:27] jxnblk commented on #668
I don't think that's correct. Where did you see this?

[2019-08-05 15:50] sibelius commented on #668
I think this was on Rebass instead of styled-system

[code]

what is the alternative on Rebass apis?

[2019-08-05 16:07] jxnblk commented on #668
The `css` prop is provided by Emotion and Styled Components, usually via a Babel plugin. The new version of Rebass adds this back in without needing the Babel plugins, FWIW. Going to close this since it sounds like it's not an issue here

[2019-08-05 16:07] #668 closed

[2019-08-05 21:17] erictaylor commented on #463
@gretzky you mention you have built a library with styled system and styled components in TS. Can you elaborate on how you typed out your components?

I'm finding that the following doesn't work:
[code]
[code]
TS Error. Wants `color` to be a `string`. I assume the styled-components types are doing something to the styled-system `ResponsiveValue` type.

Typing like below works, but has "theme" typi

[2019-08-06 17:10] folz commented on #463
@erictaylor you may want to check out https://github.com/emotion-js/emotion/issues/1272 - it's the problem you're facing but filed against emotion. Personally I don't think it's a styled-system issue, it seems more like too-inflexible typing on emotion's side.

[2019-08-06 17:24] erictaylor commented on #463
Thanks @folz. Diving deeper into the issue over the last several hours has lead me to find that it's a problem (in my case) with `styled-components` and it's `StyledComponentProps` type definition.

`color` in styled-system clashes with the `color` prop supplied by `React.ComponentWithProps`.

So the type for `color` currently is coming back as `string | (string & (string | null)[]) | (string & {

[2019-08-06 17:30] peduarte commented on #463
@ericberens Yo! I've spent enough hours on this - trust me, it's very unlikely SC will accept a PR with your suggestion. You'd need to make sure you validate values such as `['red', 'blue']` as well as a shape such as `{small: 'red', medium: 'blue'}` too. It doesn't make sense for Styled Components to accept those.

It's a tricky and annoying issue 😂

That's why I built [Radix](https://radix.modul

[2019-08-06 17:37] erictaylor commented on #463
@peduarte I should clarify my earlier comment that I'm proposing sending a PR to fix the `StyledComponentProps` type in the DefinetlyTyped package, not styled-components itself.

I think the issue can be solved by changing:
[code]

to:

[code]

Which results in say the `color` prop example coming back as `string | (string | null)[] | { [key: string]: string }` and not the intersection like it curr

[2019-08-06 19:06] joe-bell commented on #653
For this component the aim is **not** to have as much control as `space`, as we want to keep the margins in a single direction; in this case `marginTop`. Hope that's a little clearer?

Perhaps I'm getting too attached to object styles, seems like the solution was this

[code]

---

Unless there is a way to achieve this using object styles? 🤔

[2019-08-06 19:41] peduarte commented on #463
I hope it works! Go for it man

[2019-08-07 03:26] gagan0723 opened #669 "Border, BorderRadius and BoxShadow not working"
Index Page:
[code]

Box component:
[code]

Theme:
[code]

Example https://codesandbox.io/s/gatsby-starter-default-i6sc9

[2019-08-07 09:58] mbmohib commented on #581
@jxnblk sorry for the late reply, in my material ui theme file, my breakpoints are defined like this:

[code]

So now, How I use breakpoints in both of this?

[2019-08-07 13:12] nikitavoloboev opened #672 "Is it possible to get tachyons way of inline styling with styled-system?"
I would love if I could add inline styles like what [tachyons](https://github.com/tachyons-css/tachyons) allowed you to do:

`<div className="flex flex-row items-center mb2 />`

Instead of doing:

`<div style={{display: 'flex', flexDirection: 'flex-row', ...}} />`

Is it possible to achieve with either styled-system or styled-components?

Or I am forced to load in Tachyons in order to get that eas

[2019-08-07 14:01] jxnblk commented on #672
Yes, have you read the Getting Started page? https://styled-system.com/getting-started/

This generates CSS with libraries like Styled Components, but you could also use it for inline  styles. Tachyons is also CSS (not inline styles) fwiw

[2019-08-07 14:08] nikitavoloboev commented on #672
I have but in order to add these I have to basically make everything into a component.

For example:

[code]

With styled-system I can't just do that.

I will have to make a new styled-component and with styled-system add stuff like `${space}` or make a new div rather with `div.defaultProps` and write my styles there. That's a lot of separation and boilerplate.

Unless I misunderstand something.

[2019-08-07 14:51] jxnblk commented on #672
Styled System is a lower-level library that is meant for building components like this, but you might be interested in either [Rebass](https://rebassjs.org), which is a set of components with the style props already built, or [Theme UI](https://theme-ui.com), which allows you to do what you're describing above with the special [`sx` prop](https://theme-ui.com/sx-prop/)

[2019-08-07 14:58] nikitavoloboev commented on #672
So instead of using typical components like `div`, `input` box, I pull things from `Rebass`?

I thought `Rebass` doesn't cover all of HTML elements. So you will still need to use raw html elements and you will still have the need to inline style them.

[2019-08-07 14:59] nikitavoloboev commented on #672
I am curious if during development, you never use `style={{}}` anymore to style things?

[2019-08-07 15:00] jxnblk commented on #669
Might not be clear enough in the docs, but these properties will pick up specific keys from the `theme` object, and you'll need to omit the `shadows`, `borders`, and `radii` parts in your values. A reference for which props map to which theme keys can be found here: https://styled-system.com/table

[code]

[2019-08-07 15:04] jxnblk commented on #672
You can use the `as` prop to change the underlying element, e.g. `<Box as='input' />`, but it really sounds like you'd be more interested in Theme UI, based on your code examples.

Inline styles are useful for dynamic style changes, but don't cover everything possible with CSS, such as pseudoclasses, media queries, etc., so it's not a full replacement

[2019-08-07 15:07] nikitavoloboev commented on #672
Reading through its readme, I see it uses Emotion under the hood which is practically the same thing as styled-components CSS in JS library.

I am currently using styled-components, I assume by using Theme UI, I will have to stop using it as it doesn't make sense to have two conflicting things being loaded.

Also not sure how it impacts the performance of generated CSS and thus the speed of the ap

[2019-08-07 15:24] jxnblk commented on #672
Yeah with Theme UI, it uses Emotion, so you probably wouldn't want to mix that library with Styled Components. You can also use this utility with the `css` prop for a similar API with Styled Components https://styled-system.com/css/

[2019-08-07 21:11] gagan0723 commented on #669
Thanks @jxnblk that solves the issue.

I somehow misinterpreted it with other properties that I have in my code like `colors`.

It would be great it the `Reference Table` had an example theme at the top something like,
[code]
and each function can have an example on how to use it. Like so
### Space
[code]
### Border
[code]

Would love to have a `PR` for this.

[2019-08-08 02:12] dburles opened #673 "Build not updated with 5.0.20?"
Not sure what's happened but it seems like #671 wasn’t actually included in the latest published version of @styled-system/css, 5.0.20.

[2019-08-08 11:40] grrowl commented on #463
@erictaylor One solution to this is:

https://github.com/emotion-js/emotion/issues/1272#issuecomment-472993768

[code]

This will allow you to have `color=` etc props

[2019-08-08 14:05] jxnblk commented on #673
Thanks! Yeah, that's odd, will try publishing a patch now

[2019-08-08 14:12] jxnblk commented on #669
Thanks @gagan0723! That's not a bad idea for the docs

[2019-08-08 14:18] jxnblk commented on #673
Republished as `5.0.21` if you can confirm that it's working now

[2019-08-08 15:56] jxnblk opened #675 "Add `flexBasis` support in `@styled-system/css`"

[2019-08-08 17:58] xphong opened #676 "Support for `overflowX` and `overflowY` style props"
Saw that `overflow` is supported as a style prop under [layout](https://styled-system.com/table#layout).

Was wondering if `overflowX` and `overflowY` can be added as well (can work on a PR for this if it can/should be added)

[2019-08-09 00:41] dburles commented on #673
@jxnblk yep all good now, thanks!

[2019-08-09 00:41] #673 closed

[2019-08-09 16:19] #675 closed

[2019-08-11 18:36] harrisrobin commented on #561
I'm still experiencing this on `5.0.21`.

[2019-08-12 12:37] einomi opened #687 "Disable mobile-first approach"
Hello, how can I disable mobile-first approach for the array props?

I'm not using the mobile-first approach for my project and in this case I have to duplicate values in the array if, for example, some value is same on mobile and tablet devices:
`mb={[20, 20, 80, 110]}`

instead of this I want to write some like this:
`mb={[110, 80, 20]}`
where 110 would match the biggest breakpoint and this woul

[2019-08-12 14:36] #676 closed

[2019-08-12 15:04] #669 closed

[2019-08-12 19:07] #582 closed

[2019-08-12 20:09] jxnblk commented on #582
Heads up: this landed in `5.1.0` with a *slightly* updated API: https://styled-system/variants

[2019-08-13 09:00] webbrewjake opened #700 "Using other props in a system() definition"
Is there a way to use other component props in a `system()` definition?

I currently have:
[code]

If I wanted another prop to influence this calculation (for example, `minSpacing`), how would I achieve that? Is it possible? Here's ultimately what I want to achieve:
[code]

Thanks!

[2019-08-13 13:59] jxnblk commented on #700
It's not documented, but just added a third argument in `5.1.0` for `props` - e.g. `transform: (value, scale, props) => 'value'`, which I think will let you do what you're looking for

[2019-08-14 01:02] wladiston commented on #687
You don't need to duplicate values, just pass null to the breakpoints you don't want to change.
[code]

[2019-08-14 04:16] slightly-askew opened #703 "Feature Request: Negative values for position props"
I'm using the position prop in a component like so:

`top={[0, 0, 0, 0, -3]}`

I expected that that the `-3` value would respect the 4th value in my `space` theme, except for turning the value into a negative, in the same manner as the margin props allow for negative theme values.

The actual result was that the value moved my element `-3px`

[2019-08-14 05:29] ShadOoW commented on #703
Hello,

I'm using negative values from my theme without a problem.
Here an example from my code

[code]

You may wanna try it with margin prop to see if the problem is media query specific.
You may also want to update to the latest version, because I think I remember this to be a recent feature added (not sure could be wrong).

[2019-08-14 06:09] ShadOoW opened #704 "RTL and styled-systems"
Hello,

I've recently started using styled-system and I think it is amazing, without it I will not have started using CSS in JS.

I've came across a use case where I want to transform some css for RTL (cssjanus), it works great with styled-components syntax, but I was wondering if there is a way to do it in styled-system.

Current implementation: https://codesandbox.io/s/styled-components-directio

[2019-08-14 14:19] jxnblk commented on #703
Currently only margin supports negative theme-based values. You can use margin props alongside position props, or you can hard-code the position value that you're trying to use, e.g. `-16`

[2019-08-14 14:20] jxnblk commented on #704
Are you not able to use `direction: rtl` in your app? https://developer.mozilla.org/en-US/docs/Web/CSS/direction

[2019-08-14 14:36] einomi commented on #687
@wladiston thanks! It works perfectly for my needs.

[2019-08-14 14:36] #687 closed

[2019-08-14 17:24] ShadOoW commented on #704
In the example I shared, you can see that these props need to be reversed when I change the direction of the page:
[code]

to became
[code]

Changing dir doesn't fix css props like margin / padding / right / left / border and so on, I have to manually add that css, in the example I'm using a library to automatically generate the reverse css (just to not have to manually type it).

I actually have

[2019-08-14 17:38] ShadOoW commented on #704
In the link you shared direction: rtl and dir="rtl" are the same.

Using dir="rtl" changes the direction of the page, but some css properties are not affected by this.
for example: right / left / padding / margin / border-* and so on.

To truly change the direction of a page you have to also reverse some css.

In the example above I'm using a library to generate the reverse css, just to avoid typi

[2019-08-14 18:33] jxnblk commented on #704
It'd be nice if there was a utility built-in for this or if you could use the `system` prop to create something like this. Personally, I'd probably build a custom one from scratch for your example above, e.g.
[code]

[2019-08-14 18:57] benjamingeorge opened #705 "Variant example in docs fails in Typescript."
On page https://styled-system.com/variants

This example:
[code]
get a typescript error
[code]
I basically can't get themeable variants to work when using typescript.

I'm using
 "@types/styled-system": "^5.0.1",
   "styled-system": "^5.1.0",

[2019-08-14 20:36] jxnblk commented on #705
I *think* whoever maintains `@types/styled-system` will need to update the types for the new API

[2019-08-14 21:31] benjamingeorge commented on #705
Maybe I will try my first contribution to open source and do a pull request

[2019-08-15 04:05] ShadOoW commented on #704
hi @jxnblk

I like the idea of a utility or custom prop, but I can't figure out how to do it by looking at the documentation.
https://styled-system.com/custom-props
The transform function only transforms the value, but I need to add a selector.

[code]

This looks like a function that accept props and return an object, I have no idea where it is suppose to be used in relation to styled-system.

I'

[2019-08-15 07:09] webbrewjake commented on #700
Thanks for the quick reply! However this isn't working for me. `props` is undefined. I _think_ you might of missed the `system()` export when you were adding in `props` in `5.1.0`

[2019-08-15 07:39] slightly-askew commented on #703
Yep, sure thing :)

Aside from hard coding the value (which I did), I could have fallen back to my `useScale` hook if I really really wanted it to pull from theme values.

Feel free to close this if it's an intentional decision - I just thought having consistent behaviour between margin and position props might make the expected outcome more predictable.

[2019-08-15 07:41] #703 closed

[2019-08-15 14:26] jxnblk commented on #704
Oh, sorry, just typed that out quickly without the full example. You're right in that the current `system` utility wouldn't be able to handle this, but I think it would be a *nice-to-have* addition to the library.

If you take the example `rtlRight` function from above (sorry about the typo), you can pass that into the `styled` HOC from either `styled-components` or `@emotion/styled`.

[code]

The

[2019-08-15 18:13] ShadOoW commented on #704
**Awesome thank you so much for your help.**

I was able to implement a decent solution for styled-system, based on the info you gave me, I also created an example for future generation of googlers :D

https://codesandbox.io/s/styled-components-direction-gyq2k

This is by no mean a complete solution, but it good enough for what I need.
I'm still open to suggestion on how to improve it.

I will clo

[2019-08-15 18:13] #704 closed

[2019-08-16 08:40] ludovicmnji opened #706 "Override custom variant with theme"
I'm using the utility `variant()` to define some generic styles (with styled-system v5.1.0). I would like to be able to redefine some of the variants inside my custom theme but without having to re-define all the variants. Is it possible to do that ?

This is a short example of what I want to achieve :

[code]

[code]

If I do like that, it doesn't work as I expected. I lose the rest of variants (

[2019-08-16 10:08] jescowuester opened #707 "add utility to filter relevant props for collectives"
when using a utility like `color` or `space` it often forces you to spread all your props on a dom element instead of getting every single possibility

[code]

[code]

Something like this could solve the issue

[code]

[2019-08-16 15:34] jxnblk commented on #706
Currently it does not merge the inline and theme-based objects, but I could see this being a sensible addition to the API, see https://github.com/styled-system/styled-system/blob/master/packages/core/src/index.js#L48

[2019-08-16 16:21] ludovicmnji commented on #706
Thanks for the answer, I was not sure to use `variant` correctly or if it was just a bug.

I don't know the complexity for you to implement that, but in my opinion it could be very powerfull. It could participate in writing more customizable component with an abstract way (across theme). Immediately, for my use, I'm going to write base style inside my default theme whereas component definition and

[2019-08-16 17:38] jxnblk commented on #706
Yeah, I don't imagine it'll be too difficult to implement, but also need to be cautious about breaking changes and performance implications (which is the more time consuming part). Going to leave this issue open for now. Thanks!

[2019-08-17 03:10] webbrewjake commented on #700
@jxnblk did I miss something here? Or am I looking in the wrong place?

[2019-08-18 11:07] webbrewjake opened #709 "Setting an alias as a responsive subarray of the scale"
I'm trying to do create subarrays of my `space` array to use as `defaultProps` in my library components.

Is it possible to do something _like_ the following (this doesn't work, instead the css value for `padding` is set to be literally `4,8,16,32`):

In my `theme.js`:
[code]

Then in my simplified `Box` component:
[code]

That way, the default `padding` for all `Box` components can be defined onc

[2019-08-18 16:14] sapegin commented on #599
This is the only solution I found — creating a wrapper component and applying default props manually as props:

[code]

[2019-08-19 01:23] maiconkf opened #710 "Custom breakpoints not working"
I am trying to change the default value but it is not working :(

`"styled-system": "^5.1.0"`

[code]

[2019-08-19 15:06] jxnblk commented on #710
In your example, the breakpoints this is using are the same as the default since the `70em` breakpoint isn't being used at all with the `width={[ 1, 1/2, 1/3 ]}` value

[2019-08-19 15:08] jxnblk commented on #709
The responsive array values only work as props, not as theme definitions, because e.g. `space.box.2` could be a valid value from the theme. Variants let you define responsive styles in the theme, but single style props like this won't work

[2019-08-19 15:10] jxnblk commented on #700
That link in the codebase isn't really related to the transform function. The example from my last comment should work. If you can create a codesandbox reproduction, it might be more helpful for understanding what you're trying to do

[2019-08-19 15:19] maiconkf commented on #710
Yes, I know about the defaults values... But no matters what I put inside breakingpoints, it is not works.

[2019-08-19 16:10] jxnblk commented on #710
Be sure you only have one instance of `@emotion/core` or `styled-components` (or whatever you're using) – theme context won't work across multiple instances of React context. If that's not it, you can try to create a reproduction with the CodeSandbox https://codesandbox.io/s/github/jxnblk/styled-system/tree/master/examples/basic

[2019-08-20 07:06] Rothmanberger commented on #700
Hey, here's what I'm trying to do. `props` is `undefined` though.

https://codesandbox.io/embed/suspicious-noether-s5esq

[2019-08-20 07:14] webbrewjake commented on #700
[Here's what I'm trying to do.](https://codesandbox.io/embed/suspicious-noether-s5esq). `props` is `undefined` though.

[2019-08-20 08:19] webbrewjake commented on #709
Thanks! I played around with Variants but it wasn't working how I'd like it. You actually gave me an idea regarding your mention of `space.box.2`.

Here's my solution for anyone else wanting to do the same things

In my `theme.js`:
[code]

Then in my simplified `Box` component:
[code]

Now I can set the default padding for all `Box` components in the `theme`, but I can also override the padding us

[2019-08-20 08:38] #709 closed

[2019-08-21 15:15] jxnblk commented on #700
Ah! Looks like props are only passed through with the lower-lever `createParser` API, but it's missing from `system` so I think you've found a bug in the undocumented API :)

[2019-08-21 19:13] JustinTRoss commented on #710
I believe we're experiencing a similar issue. We used to have `breakpoints: [840, 1050, 1280]`, which worked fine and were converted to have px values. As `@rebass/grid` was updated, these px values were dropped.

[2019-08-22 03:45] webbrewjake commented on #700
OK cool. I thought I was going crazy!

[2019-08-22 13:29] #700 closed

[2019-08-23 01:20] kevinSuttle opened #724 "5.0.18 Variants API changes feel like a step backwards: Just me?"
I'm struggling to see the value in moving theme values out of a centralized file and inline into components. I give benefit of the doubt where it's due, but maybe some visual examples would help explain the advantages?

In practice, this feels like it facilitates competing props and "[boolean traps](https://spicefactory.co/blog/2019/03/26/how-to-avoid-the-boolean-trap-when-designing-react-componen

[2019-08-23 15:40] jxnblk commented on #724
I think this blog post goes into more detail about the rationale FWIW https://jxnblk.com/blog/a-conceptual-look-at-theming/

[2019-08-23 17:29] kevinSuttle commented on #724
Thanks for the context. I can definitely see the vision and reasoning now.

[2019-08-23 17:29] #724 closed

[2019-08-23 18:01] kevinSuttle commented on #724
I'm wondering about primitives/extension, default values from theme, and React within and _without_ the context of the new variants API.

Example:
[code]

### Old way
[code]

### New way
[code]

- What about React props handling/rendering logic, etc?
- How does this new API allow for setting of default styles (not even default props), that are based on theme values? Does it require `@styled-system

[2019-08-24 14:53] joe-bell opened #725 "Generate Atomic CSS"
## Is your feature request related to a problem? Please describe.

1. **Duplication of styled-system prop styles**
  Each styled component is modular and self-contained, which means repeated styles.
2. **Confusion of position in the cascade**
  Styled props make it easy to customize common themeable styles, but sometimes it's confusing where this sits in the component's cascade.

## Describe the s

[2019-08-25 17:48] maiconkf commented on #710
The breakingponts doesn't work with nextjs _app.js. Without _app.js works normally. Why? :(

[2019-08-26 19:01] mskutle commented on #710
I have the same problem with custom breakpoints not working. Running Next.js 9 and wrapping _app.js with ThemeProvider.

[2019-08-26 22:28] aaronshaf opened #742 "How does one get "direct" access to the theme values within a component?"
Is there an example of this? I assume it involves `useContext`.

[2019-08-27 00:13] sktt opened #743 "Order of applied css"
**Describe the bug**
`defaultProps` appear as to be applied after other props.

**To Reproduce**
https://codesandbox.io/s/solitary-platform-y9cmv

**Expected behavior**
Thing should use provided `mt`

**Additional context**
may be related to #549

[2019-08-27 00:53] #742 closed, assigned to nobody

[2019-08-27 04:48] aaronshaf opened #745 "Accessing theme values inside CSS prop"
Is it possible to get access to a current theme variable inside emotion's CSS prop? Something like:

[code]

[2019-08-27 15:14] #745 closed, assigned to nobody

[2019-08-28 01:02] kevinSuttle opened #746 "Override defaultProps?"
[code]

Now, display cannot be overridden. Am I missing something? Shouldn't `display` be allowed to be overridden based on https://styled-system.com/guides/default-values ?

[2019-08-29 13:10] wagerfield commented on #563
+1 I'd love to have this.

[2019-08-31 09:08] aaronshaf opened #747 "Is there a way to use scaled values with themeGet?"
I am using [themeGet](https://github.com/styled-system/styled-system/tree/master/packages/theme-get) and enjoying it. Is there a way for it to define a list of values for a scale?

[2019-09-01 10:03] ZWkang opened #748 "docs button outline bug"
**Describe the bug**

focus outline under  hidden

**To Reproduce**

visitor docs [docs](https://styled-system.com/)

**Expected behavior**

focus outline should show up

**Screenshots**
<img width="339" alt="Screenshots about button focus bug" src="https://user-images.githubusercontent.com/15853907/64074761-1b0ca700-cce2-11e9-934f-44416e849a3b.png">

**Additional context**

maybe solution in **@t

[2019-09-02 18:07] eulke-oneloop commented on #193
I can´t access the link @jxnblk gave. I have the same issue and i can´t figure out hot to solve this.

[2019-09-03 12:07] nerdyman commented on #705
I think this can be closed, [`@types/styled-system`](https://www.npmjs.com/package/@types/styled-system) 5.1.1 updated the `VariantArgs` interface.

Thanks @benjamingeorge!

[2019-09-03 12:14] #705 closed

[2019-09-03 15:42] jxnblk commented on #747
Not really sure I understand the question. Can you elaborate or provide a code example of what you're looking to do?

[2019-09-04 07:29] ThePuzzlers opened #761 "Breakpoints bug when using numbers of different length"
Hello hello,
I've encountered a weird behavior when dealing with breakpoints as objects. Regarding your documentation I came up with the following breakpoints within a breakpoints.js file:

[code]

Afterwards I'm pulling them into the theme.js file. So far so good but once I try to reference them as follows:

[code]

**things get stuck at `90em` - never reaching `100em`**. (The numbers for the fon

[2019-09-04 14:19] jxnblk commented on #761
Thanks! Could you create a reproduction in CodeSandbox?

[2019-09-04 14:44] ThePuzzlers commented on #761
Hi @jxnblk thanks for getting back to me. Here's the codesandbox link. Sry I didn't include it right away...

https://codesandbox.io/embed/potential-styled-system-bug-qxf5g

The working solution is commented out within breakpoints.js

You can see the bug within the inspector tools as without the 'prefix' the H1 stops at 90em but if you have the 0 as a prefix it goes all the way to 100em.

<img wid

[2019-09-04 14:52] jxnblk commented on #761
Thanks! I believe this is due to how it tries to sort object-based responsive styles alphabetically, and `100` is before `90` alphabetically, causing a cascade/source order issue in CSS

[2019-09-04 15:02] ThePuzzlers commented on #761
I guess I don't get it just yet. Wouldn't this mean that the 100em always gets called instead of the 90? It's the same with px, though. If you have the values let's say:

600px
720px
1100px

it gets stuck on the 720px

[2019-09-04 19:14] jxnblk commented on #761
Yes, so alphabetically, the media rule with 100em is before the 90em in *source order* (i.e. the cascade), which means the 90em rule takes precedence and due to how the cascade part of CSS works. This is a bug with Styled System, because it should be smarter about how it sorts the object-based responsive styles

[2019-09-04 20:29] chokeul8r opened #762 "Theming Gatsby.js with Styled Components and Sytled System"
I am attempting to learn React/Gatsby and Styled Components/Styled System. Forgive me if this sounds elementary but I am just a little confused about how to use the Styled Components ThemeProvider with my Layout.js, Index.js and Page.js/Post.js (as well as any other component file that I might want or need to create).

Do I need to import the theme.js file and the ThemeProvider (wrap all of my com

[2019-09-05 04:58] kiastorm commented on #710
I'm also having two issues with responsive styles:

1. `<Box width={[1, 1, 1/2, 3/4]}>` is rendering `width: .4rem` (which is theme.sizes[1] / theme.space[1]);

2. No matter what I try, my components never react to the array props I send them, not just in this example but across my entire site I havent been able to take advantage of this yet.

theme: `breakpoints: [600, 900, 1200, 1800]`
also have

[2019-09-05 05:10] JustinTRoss commented on #710
@kiastorm It looks you might be experiencing a similar situation to what I noted in my comment above (https://github.com/styled-system/styled-system/issues/710#issuecomment-523609195) and referenced in https://github.com/rebassjs/rebass/issues/663. The latest @rebass/grid version upgrades styled-system version, and newer styled-system versions require breakpoints to have units specified, whereas e

[2019-09-05 05:19] kiastorm commented on #710
I have just tried to add units to the end of my breakpoints instead, but still having no luck.

Also having another issue where `mt={11}` is rendering 11px, when it should be space[11] which definitely exists

[2019-09-05 14:41] jxnblk commented on #762
There are primarily two ways to handle layouts in Gatsby, either manually using [layout components](https://www.gatsbyjs.org/docs/layout-components/) or using the [`wrapPageElement`](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement) API. Depending on how you've set that up, you'll probably want to have a `ThemeProvider` component in a layout component that is used everywhere in your sit

[2019-09-06 02:21] lachlanjc opened #763 "Add CSS Columns module"
I’d like an almost-clone of the Grid module in Styled System made for CSS Columns properties. `column-gap` to use the whitespace scale, `column-rule` (& its derivatives) to use the border scale, etc.

**Is your feature request related to a problem? Please describe.**
Styling CSS columns with styled-system is very inelegant right now—I want to use my whitespace scale for `column-gap` (like `grid-ga

[2019-09-06 14:00] christianguevara commented on #710
Hey, for me it was not working like this, i updated from styled-system 4.0 to 5.0
`breakpoints: [576, 768, 991, 1220]`
Then i added the units
`breakpoints: ['576px', '768px', '991px', '1220px']` and voila !

[2019-09-11 09:52] slightly-askew opened #810 "Variant does not seem to work with custom props"
**Describe the bug**
Referencing a custom prop within a `variant()` does not seem to return a value

**To Reproduce**

[Codesandbox example](https://codesandbox.io/embed/cocky-glade-gsicb)

Given a custom `system` prop function to add a coloured border:
[code]
I am referring to the custom prop within a variant like so:
[code]
However the border colour value from the variant seems to be ignored by

[2019-09-11 11:21] danchristian commented on #193
@eulke-oneloop He's linking to [this page](https://github.com/pricelinelabs/design-system/blob/master/storybook/config.js)

[2019-09-11 14:23] jxnblk commented on #810
Thanks, but I think there might be a misunderstanding of how variants work. Variants allow you to create sets of *styles* (not props) and `bordercol` is not a CSS property. You could either use the native `borderColor` CSS property here or the shorthand `border` property

[2019-09-11 14:30] #743 closed

[2019-09-11 14:35] jxnblk commented on #558
Thanks for bringing this up! After considering this a bit, I think since the `@styled-system/css` package only supports arrays for responsive values, it doesn't really make sense to define breakpoints as a plain object when using this package. I'd like to add some utilities to make working with the `@media` rule syntax a little bit more ergonomic (which will require some exploration), but I'm goin

[2019-09-11 14:35] #558 closed

[2019-09-11 14:50] jxnblk commented on #630
This appears to work as demonstrated in this [codesandbox](https://codesandbox.io/s/styled-systembasic-demo-o5xes). Please reopen this issue with a failing reproduction if you have an example of the issue described here, if it is different

[2019-09-11 14:50] #630 closed

[2019-09-11 14:55] jxnblk commented on #645
Sorry for the delay on this! If you'd like to add types for this package on Definitely Typed, please feel free to do so. Since that code is in another repo, I'm going to close this issue for the time being

[2019-09-11 14:55] #645 closed

[2019-09-11 15:12] #652 closed

[2019-09-11 15:21] #653 closed

[2019-09-11 15:25] jxnblk commented on #707
Sorry for the delay! I think this could be a helpful utility to add to the library (both a *pick* and *omit* version), and I think the `@styled-system/should-forward-prop` package could be used for this

[2019-09-11 15:28] jxnblk commented on #710
It sounds like there are two separate issues being discussed here. The `breakpoints` array requires units to be defined. The original issue has units, but sounds like the theme isn't being picked up in a Next.js app. @maiconkf can you create a reproduction of the issue using Next.js?

[2019-09-11 15:33] #725 closed

[2019-09-11 16:33] nerdyman commented on #645
No problem! thanks for getting back to me. I'll take a look at the types in [@types](https://github.com/DefinitelyTyped/DefinitelyTyped).

[2019-09-11 17:09] #761 closed

[2019-09-11 17:11] #748 closed

[2019-09-11 17:12] #646 closed

[2019-09-11 18:54] wfifer opened #813 "Array with `null` generates empty media query"
Looking at docs [here](https://styled-system.com/guides/array-props/), passing `null` in an array position should not generate a media query for corresponding to that position, but that doesn't appear to be the case. I'm using latest `styled-components` and `styled-system`. It's become crucial to whittle down our generated css due to Google's low-low 50kb AMP limit, so any help would be extremely

[2019-09-11 20:38] jxnblk commented on #813
`null` values used to not render but this causes issues – see #561 #551 #549 – without a clear way to handle this sort of issue, I'm afraid it will have to return an empty media rule for the time being

[2019-09-11 22:48] slightly-askew commented on #810
Thanks @jxnblk for the explanation! Makes a lot of sense now 👍
I'd not even noticed the extensive theming of borders, refactored to get the effects I needed.

[2019-09-11 22:49] #810 closed

[2019-09-13 17:26] maiconkf commented on #710
This is my _app.js:
[code]

[2019-09-16 19:14] jxnblk commented on #746
If what you're trying to do is still allow the `display` prop from `Box` (assuming you added that to `Box`) to be available, you can either add React default props like this:

[code]

Or be sure to include the `layout.display` function *after* the hard-coded `display` style.

[code]

Due to how the cascade (i.e. source order) works in CSS, I'm guessing the `Box` component's `display` property is b

[2019-09-16 22:09] #707 closed

[2019-09-17 03:38] kevinSuttle commented on #746
That makes so much sense. Thanks @jxnblk!

[2019-09-17 03:38] #746 closed

[2019-09-17 07:02] sidhuko commented on #228
Interested to know whether anyone released anything related to styled-system print solution?

[2019-09-18 01:57] harrisrobin commented on #706
@jxnblk thanks for leaving this open, we also ran into this issue and were wondering if it was a bug or intended.

I think this would be a great addition to the API, let me know if there is anything I can do to help get this enhancement implemented :)

[2019-09-18 12:36] freislot opened #826 "Media Queries theme key not working"
Documentation says:
For convenience and for use with other styling approaches, a mediaQueries scale derived from the breakpoints scale can be added to the theme object.

`breakpoints: [ '40em', '52em', '64em' ]`

[code]

I want change min-width in media queries to max-width and this is my code from theme:
[code]

In my component i use object with aliasses
[code]
but in chrome inspector a see than

[2019-09-18 15:45] jxnblk commented on #826
The values provided for the `width` prop will always come from `theme.breakpoints` and are always `min-width` mobile-first media queries.

[2019-09-20 10:08] mounikakella opened #830 "Could not find a declaration file for module '@styled-system/theme-get'."
When I import ```import { themeGet } from '@styled-system/theme-get';``` in my react typescript project, it is throwing the following error.

Could not find a declaration file for module '@styled-system/theme-get'. '**<project path>**/node_modules/@styled-system/theme-get/dist/index.js' implicitly has an 'any' type.
  Try `npm install @types/styled-system__theme-get` if it exists or add a new decl

[2019-09-24 16:32] maiconkf commented on #710
I got it! Sorry, I was making a mistake elsewhere. You can close this issue

[2019-09-24 16:51] harlanlewis opened #847 "how to opt out of using array index?"
Hello, is there a way to reference a `space` value by its value, rather than array index? I'll steer clear of discussing the merits of index vs value vs alias (that's been hashed out plenty already), just looking to understand the intended mechanics. Apologies if this has been covered, wasn't able to find it.

For example, the [styled system homepage](https://styled-system.com/#space-theming) show

[2019-09-24 17:36] jxnblk commented on #847
You can pass string values with units to use hard-coded, non-theme-based values, e.g. `m='4px'` – the whole point of using scales in Styled System is to *not* think about the actual values, if that makes sense

[2019-09-24 17:37] #710 closed

[2019-09-24 18:37] harlanlewis commented on #847
Gotcha, makes sense.

I'm certainly a fan of using scales for things like z-index, where the values can be abstract (eg `[100, 200, 300]`) and only have meaning relative to each other, but prefer the clarity of actual values for sizes and the like. Index order instability can also be a tough juggle if project standards are in flux.

Thanks for reply!

[2019-09-25 07:20] alexandernanberg opened #848 "Warnings with styled-components v4.4.0"
**Describe the bug**
Warnings is logged to the console

**To Reproduce**

Go to https://codesandbox.io/s/silly-nightingale-nffhf and check the console

**Expected behavior**
No warnings logged

**Screenshots**
N/A

**Additional context**
N/A

[2019-09-25 13:09] ludovicmnji opened #849 "Inconsistent short props overriding"
**Describe the bug**
When you define `marginTop` in default props on a Styled component using styled-system `space` helper (for example), the default prop is applied in priority of other short props define on the component itself (`marginY` for example).
In the Codesandbox below, the 2th `Div` component should have a `margin-top` of 10px and a `margin-bottom` of 10px thanks to `marginY="10px"`. Cu

[2019-09-25 14:11] grabbeh commented on #848
The error message is because styled-system expects a theme object to be provided that it can draw various values from. The absence of that theme explains the error.

Suggest you take a look here https://styled-system.com/getting-started and the use of `ThemeProvider`.

I also updated the sandbox to give an example of how I would achieve what you're looking to do, including through adding in the `T

[2019-09-30 06:16] alexandernanberg commented on #848
Yeah I'm aware of that but I don't think the ThemeProvider should be required right? I'm still not sure where this issue belongs, I've opened one in the styled-components repo as well https://github.com/styled-components/styled-components/issues/2766

[2019-10-01 07:31] Pipo93 commented on #848
I agree that ThemeProvider should not be required since there are many use cases where you just want to specify some basic styling without having a theme for that...

[2019-10-01 19:23] maxparelius commented on #706
I agree with @harrisrobin it seems limiting to not be able to use a variant and also manually override one the styles with a prop.

[2019-10-02 09:29] kyranjamie commented on #463
Recently started working on a design library using styled-system. First off, great job @jxnblk – I'd not used the library before but it introduces some innovative ways to compose UIs.

I'm definitely in the TypeScript camp too, and want to highlight my support.

I'd like to address the point made about the steep learning curve of TypeScript, though, as I don't think this should be a reason not to

[2019-10-03 23:43] georgefeast commented on #172
@AaronBuxbaum How did you identify this performance issue? Am trying to figure out a sporadic bug at the moment that I think might be related to performance but don't know how to identify.. any leads much appreciated

[2019-10-03 23:55] AaronBuxbaum commented on #172
If you're seeing a lot of renders in your react dev tools, something is updating too much, and this is one possibility. I think your first step should be to figure out if your renders are expensive, or if you're re-rendering too much. Once you're there, you can dig into the problem -- multiple renders implies problems with things like this (which means that you can resolve a lot by hoisting object

[2019-10-07 11:46] seivan commented on #830
Take a look at https://github.com/styled-system/styled-system/issues/609

[2019-10-09 09:38] mathanpec commented on #706
@jxnblk: Is it still open? Can i take stab at this?

[2019-10-09 14:55] jxnblk commented on #706
@mathanpec sure thing! Let me know if you have any questions about it

[2019-10-10 11:13] isaacalves opened #882 "How to override default styles?"
What is the recommended or possible way to override default styles?

Let's say I have a Section and it has some responsive padding:

[code]

Now, I'd like to override just the top padding on a specific instance of the `Section`, so I'm expecting to be able to use this:

[code]

But it doesn't work - I'd need to override the whole padding. `py` also wouldn't work. I could set `padding-top` and `pad

[2019-10-10 12:14] isaacalves opened #883 "How to set a style in defaultProps based on a prop?"
Is there a way one could have style rules in `defaultProps` that would vary according to a prop?

For example, in the Card example [on this page](https://styled-system.com/guides/default-values/), I want to have a `small` property, which would result in smaller padding (`p`) set in defaultProps, that could still be overwritten on specific use cases.

Is that possible? Would that be a good approach

[2019-10-11 00:32] stonebk opened #884 "Is it possible to nest the theme, or does it have to live at the root?"
Let's say you have a theme:
[code]

You usually pass this to `ThemeProvider` as such:
[code]

Is it possible to nest the theme such that it is not at the root?

[code]

I want to basically namespace the theme -- is it possible to do this with styled-system?

[2019-10-11 01:19] johnsantos-wag commented on #884
I also have a similar concern about this like nested theme with different theme.

What have you done @stonebk ?

[2019-10-11 03:57] jmaicaaan opened #885 "Specify in the documentation the option `disableStyledSystemCache`"
**Is your feature request related to a problem? Please describe.**
I've been rolling my head on why my breakpoints are not firing or taking effect when I have the nested theme provider.
I have multiple theme object and want to use specific items on different aspects of the page.
https://spectrum.chat/styled-system/general/nested-themeprovider-not-working-as-expected-on-mt-key~041b566d-98ab-422c-9a

[2019-10-11 04:32] mathanpec commented on #706
@jxnblk: Have raised a PR #886 for this. Please take a look at it.

[2019-10-11 14:47] jxnblk commented on #884
There isn't any support for namespacing within the theme context, but note that React contexts are scoped by default so this is only used in Emotion or Styled Components' contexts

[2019-10-11 16:56] stonebk commented on #884
Yeah, I'm looking specifically for namespacing within the styled-components context. We have a lot of teams that build components, and I would like to keep the core theme namespaced so that there aren't accidental naming collisions.

@johnsantos-wag I'm more in the exploratory phase right now looking to switch to styled-system, so I haven't done anything at this point.

[2019-10-16 07:41] osamajandali opened #898 "Unknown Prop Warning"
**Describe the bug**
When using styled components to custom style react router Link and then use styled system with its props I get unknown props warning

**To Reproduce**
Extend the style of react router Link using styled component and add styled system props to it

Use codesandbox to create a reproduction:
https://codesandbox.io/s/unknown-props-warning-ec8st

**Expected behavior**
Should not giv

[2019-10-16 16:53] jxnblk commented on #898
Is this the issue? https://styled-system.com/guides/removing-props-from-html

[2019-10-16 17:30] ElForastero commented on #593
Does this issue with styled-components affect all styled-system API or only some specific? Because I have a problem with `layout` only. 🤔

[2019-10-17 15:47] cedricdelpoux commented on #379
@mjbyrnes4664 could you share how without duplicating normal and media print styles in the codebase?

[2019-10-21 07:43] osamajandali commented on #898
Yeah I think it's..
How about adding example to the docs to make the problem more clear? as I have read it in the docs and when I see the problem I could not relate the issue with that part in the docs

[2019-10-21 15:27] jxnblk commented on #898
PRs welcome!

[2019-10-21 15:27] #898 closed

[2019-10-22 17:00] dmt0 commented on #331
So what actually happened to `system-components`? I see the `rebass/components` repo is actually archived. Are the features from that lib merged into some other lib?

[2019-10-25 03:02] danhuang1202 opened #911 "How to pass on prop to Html element"
### Code Sample
[code]

### Work Round
[code]

### Question
Why the `on` prop didn't pass down ?
Is there a best practice to pass `on` prop ?

[2019-10-25 03:04] danhuang1202 commented on #911
wrong quesiton

[2019-10-25 03:04] #911 closed

[2019-10-25 08:29] frederickfogerty commented on #558
Hey @jxnblk, I understand that the `css` package is different to the main styled-system library, but this package provides the supposed solution to a real problem we have, and I was wondering how you would suggest we solve it without the use of this package.

Problem: **using styled-system props with a non-styled-system child**

[code]

[2019-10-25 12:48] carldufourm commented on #512
@MarkosKon Thanks for this example, it was pretty much the only one I found on the internet!!! :)
Anyways, I'm not sure if here's the right place to ask my question, but if it is not I will remove it.

I basically reproduced your example in my project, and it works pretty much. The only difference, and I don't understand why, is that all my prop types have a value of undefined in the CSS, yours do

[2019-10-25 13:13] carldufourm commented on #512
@MarkosKon I think I found the issue. The issue happens in all versions of major 5 of styled-system and testing with the latest major 4 (4.2.4) version, the issue disappears.

@jxnblk Do you mind if I open an issue for this?

[2019-10-25 14:54] carldufourm opened #912 "styled-system 5+ with Vue - undefined css properties"
**Describe the bug**
When using styled-system version 5+ with Vue and you add styled-system utilities (space for example), you can see that in the CSS of the element you<ll have every property of space with a value of undefined. I test with the latest version 4 (4.2.4) of styled-system and there is no bug.

**To Reproduce**
- Start a Vue project with packages "vue-styled-components" & "styled-syst

[2019-10-28 16:43] jxnblk commented on #912
Thanks for opening this issue. I do not use `vue-styled-components` but this looks like the package behaves differently from the official `styled-components` package, and it might be worth checking with that project as well. If a property is `undefined`, I don't think it should be creating declarations with `"undefined"` as the value.

[2019-10-28 16:48] carldufourm commented on #912
@jxnblk Thanks for the reply! I will open a bug in the package 'vue-styled-components'.

[2019-10-29 17:15] TheSisb opened #922 "Typography maybe missing textOverflow and whiteSpace props?"
Looking at the [Typography bucket in v5](https://styled-system.com/api/#typography), I couldn't help but notice that maybe the `textOverflow` and `whiteSpace` props were overlooked?  They are commonly used to make text overflow into an ellipsis.

[edit] And also possibly `textDecoration`?

[2019-11-01 13:23] carldufourm commented on #912
@jxnblk I opened a ticket in the `vue-styled-components` repo. However I was thinking and the fact that the bug wasn't present in version 4 of `styled-system` makes me wonder if the issue is maybe fixable in `styled-system`? BTW I really appreciate you taking time to look at this issue, I'm just trying to find a solution.

[2019-11-07 16:24] zackphilipps commented on #810
@jxnblk Maybe the docs should be updated then? [Here](https://styled-system.com/variants) the example seems to have props _and_ styles (looking at `bg`, which is a style prop):

[code]

and [here](https://styled-system.com/api#variant), looking at the values, they seem to be all props.

This is of current interest to me, because I'm implementing variants on my buttons now, which have gradients and

[2019-11-08 14:30] zammer opened #931 "Seeing width=[object,object] everywhere"
Hi I've looked through the docs and issues but can't see and answer to this question.

When doing `<Column width={{xs: s, l: l}} />` in the outputted html I see `<div width="[object, object]">` I still get the correct breakpoints in the css but is there anyway to get rid of the `width="[object, object]"` in the html.

<img width="336" alt="Screenshot 2019-11-08 at 14 22 48" src="https://user-image

[2019-11-08 16:15] jxnblk commented on #931
If you're using styled-components, they don't offer an API to remove attributes, but Emotion does, see https://styled-system.com/guides/removing-props-from-html

[2019-11-09 11:21] ElForastero opened #932 "Setting responsive width to 1 doesn't convert to 100% but uses `space` scale"
**Describe the bug**
[code]

`1` will not be converted to `100%`, but instead it will be the `space[1]` value from config.
`0.99` works well.

**To Reproduce**
Can't reproduce it in sandbox :(

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/5102818/68527760-137e0580-0304-11ea-9aa9-edbaa7da3233.png)

**Additional conte

[2019-11-10 06:25] travis-joe opened #933 "set background gradient doesn't work"
**example**

[code]

like that, it doesn't work, how to do it?

[2019-11-10 11:13] Jerry-Hong commented on #609
@benjamingeorge @jxnblk
I have created a PR to DefinitelyTyped, it will fix this issue
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40275

[2019-11-10 11:13] Jerry-Hong commented on #830
@mounikakella @seivan
I have created a PR to DefinitelyTyped, it will fix this issue
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40275

[2019-11-11 19:39] lishine opened #944 "Custom prop with css package"
How can I use custom props in css prop?
Same question for theme-ui, it uses sx compatible to css. But what if I write custom prop using system(). How can I use it in sx?
Thanks

[2019-11-12 16:05] jxnblk commented on #944
The `css` utility cannot be customized. Since the goal with that package is interoperability with various themes and tools, it's more of a hard-coded convention. If you want custom props, you can, of course, use styled-system

[2019-11-12 16:05] #944 closed